<div class="row" *ngIf="message" [ngClass]="{ 'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }">
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-10">
      {{message.text}}
  </div>
  <div class="col-md-1 text-right">
    <span matTooltip="Close">
      <a (click)="clear()" class="btn btn-sm btn-danger">
        <i class="fa fa-remove"></i>
      </a>
    </span>
  </div>
</div>