<app-breadcrumb></app-breadcrumb>
<div *ngIf="isAlertsListEmpty();then emptyList else dataTable"></div>
<ng-template #emptyList>
  <mat-card>
    <div *ngIf="isLoading;then loading else errorMessage"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #errorMessage>
      <div [ngClass]="{'alert': 'Aucune alerte enregistré pour', 'alert-success': false, 'alert-danger': true }">
        <div class="row">
            <div class="col-md-6">
              {{'LISTALERT.ERROR' |translate}}
            </div>
        </div>
      </div>
    </ng-template>
  </mat-card>
</ng-template>
<ng-template #dataTable>
  <div class="row command-row text-right" *ngIf="alEmpty || notifEmpty">
    <div class="col-md-12">
      <span matTooltip="{{'REFRESH' |translate}}">
        <a class="btn btn-sm btn-secondary" (click)="refresh()">
          <i class="fa fa-refresh"></i> {{'REFRESH' |translate}} 
        </a>
      </span>
    </div>
  </div>
  <div class="row">
    <div [ngClass]="{'col-md-6': notifEmpty,
      'col': !notifEmpty
      }" *ngIf="alEmpty">
      <center><h3>{{'ALCITOYEN' |translate}}</h3></center>
      <mat-card>
        <div class="form-group row">
          <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
          <div class="col-sm-6">
            <input type="text" (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
          </div>
    
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
          not found 
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            
            <th scope="col"> <h6>{{'NAME' |translate}}</h6></th>
            <th scope="col"><h6>{{'PHONE' |translate}}</h6> </th>
            <th scope="col"> <h6>{{ 'QUARTIER' | translate }}</h6> </th>
            <th scope="col"><h6>{{'DETAIL' |translate}}</h6> </th>
            <th scope="col"><h6>{{'DELETE' |translate}}</h6> </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let al of alertsList | slice: (page-1) * pageSize : page * pageSize">
            <th scope="let row"><strong>{{al.personName}}</strong><br /></th>
            <td> <strong>{{al.personPhone}}</strong><br /></td>
            <td> <strong>{{al.alertsDistrict}}</strong><br /></td>
            <td>
              <span  matTooltip="{{ 'DETAIL' | translate }}">
                <a (click)="displayDetails(al)" class="btn btn-sm btn-primary">
                  <i class="fa fa-eye"></i>
                </a>
              </span>
            </td>
            <td>
              <span *ngIf="isAlertsDeleted(al)" matTooltip="{{ 'DELETE' | translate }}">
                <a (click)="deleteAlert(al)" class="btn btn-sm btn-danger">
                  <i class="fa fa-remove"></i>
                </a>
              </span>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
        
          <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="50">50</option>
          </select-->
        </div>
      </mat-card>
    </div>
    <div [ngClass]="{'col-md-6': alEmpty,
        'col': !alEmpty
        }" *ngIf="notifEmpty">
      <center><h3>{{'ALSYSTEM' |translate}}</h3></center>
      
      <mat-card>
        <div class="form-group row">
          <label for="searchAlarmSystem" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
          <div class="col-sm-6">
            <input type="text" (keyup)="onFilterAlarmSystem($event)" [(ngModel)]="searchValueAlarmSystem" id="searchAlarmSystem" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
          </div>
    
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="isEmptyAlarmSystem">
          not found 
        </div>
        <table class="table table-bordered">
          <thead>
          <tr>
            
            <th scope="col"><center><h6>{{'CONVOCATION' |translate}}</h6></center> </th>
            
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let notification of notifications | slice: (pageAlarmSystem-1) * pageSizeAlarmSystem : pageAlarmSystem * pageSizeAlarmSystem">
            <td >
              <mat-accordion  class="example-headers-align" multi>
                <mat-expansion-panel opened>
                  <mat-expansion-panel-header  [ngStyle]="{background: getColor(notification)}">
                    <mat-panel-title>
                      M. {{ notification.agentActivitiesConvocation.documentId.siteId.ownerName }}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{'SITENAME' |translate}}: {{notification.agentActivitiesConvocation.documentId.siteId.siteName}} <br>
                      {{'DATE.CREATE' |translate}}: {{notification.agentActivitiesConvocation.documentId.createdDate}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>      
                  <div>
                    <p>{{'PHONE' |translate}}: {{notification.agentActivitiesConvocation.documentId.siteId.ownerPhone}}</p>
                    <p>{{'SECTORCOMMUNE' |translate}}: {{notification.agentActivitiesConvocation.documentId.siteId.districtId.commune}}</p>
                    <p>{{'QUARTIER' |translate}}: {{notification.agentActivitiesConvocation.documentId.siteId.districtId.districtName}}</p>
                    <p>{{'SECTORSTANDING' |translate}}: {{notification.agentActivitiesConvocation.documentId.siteId.districtId.standing}}</p>
                    <p>{{'REFRESH' |translate}}Agent de terrain: {{notification.agentActivitiesConvocation.agentId.agentName}}</p>
                  </div>
                  <div class="row">
                    <div [ngClass]="{'col-xs-6': getdate(notification),
                    'col': !getdate(notification)
                   }">
                      <button class="btn btn-primary btn-lg btn-block" mat-button (click)="openDialog(notification)" >{{'ADDALERT.MORE' |translate}}</button>
                    </div>
                    <div class="col-xs-6" *ngIf="getdate(notification)">
                      <button class="btn btn-success btn-lg btn-block" mat-button (click)="onSubmitNotif(notification)" >{{'OK' |translate}}</button>
                    </div>
                  </div>
                </mat-expansion-panel>
              </mat-accordion> 
            </td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSizeAlarmSystem"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="pageAlarmSystem" [pageSize]="pageSizeAlarmSystem">
          </ngb-pagination>
        
          <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSizeAlarmSystem">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
            <option [ngValue]="20">20</option>
            <option [ngValue]="50">50</option>
          </select-->
        </div>
      </mat-card>
    </div>
  </div>
  

</ng-template>
<!--ul class="list-group">
  <li class="list-group-item">Dapibus ac facilisis in</li>

  
  <li class="list-group-item list-group-item-primary">This is a primary list group item</li>
  <li class="list-group-item list-group-item-secondary">This is a secondary list group item</li>
  <li class="list-group-item list-group-item-success">This is a success list group item</li>
  <li class="">This is a danger list group item</li>
  <li class="list-group-item list-group-item-warning">This is a warning list group item</li>
  <li class="list-group-item list-group-item-info">This is a info list group item</li>
  <li class="list-group-item list-group-item-light">This is a light list group item</li>
  <li class="list-group-item list-group-item-dark">This is a dark list group item</li>
</ul-->




