<app-breadcrumb></app-breadcrumb>
  
<div class="container">
    <div class="formContent">
        <form #deviceForm="ngForm" (ngSubmit)="onSubmit()" class="formLogin">
            <ng-template matStepLabel>{{ 'ADDEDITDEVICE.TITLE' | translate }}</ng-template>
            <mat-form-field>
                <input matInput placeholder="{{ 'NAME' | translate }}" autocomplete="off" name="deviceName" id="deviceName" [(ngModel)]="deviceToSaveOrUpdate.deviceName" required
                    #deviceName="ngModel">
                <mat-icon matSuffix>device</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{ 'IMEI' | translate }}" autocomplete="off" type="text" name="deviceImei" id="deviceImei" [(ngModel)]="deviceToSaveOrUpdate.deviceImei" required
                  #deviceImei="ngModel">
              <mat-icon matSuffix>device</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{ 'DESCRIPTION' | translate }}" autocomplete="off" name="description" id="description" [(ngModel)]="deviceToSaveOrUpdate.description" required
                  #description="ngModel">
              <mat-icon matSuffix>device</mat-icon>
            </mat-form-field>
           
           <!--<button mat-button [disabled]="" (click)="onSubmit()">Valider</button>-->
            <div class="row pull-right">
                <div class="form-group col-md-12" style="clear:both;" *ngIf="!onclicked">
                    <input *ngIf="data.add; else editDeviceButton" [disabled]="deviceForm.invalid" type="submit" value="{{ 'BTN.SUBMIT' | translate }}" class="btn btn-success" />
                    <ng-template #editDeviceButton>
                        <input type="submit" value="{{ 'BTN.UPDATE' | translate }}" [disabled]="" class="btn btn-success" />
                    </ng-template>
                    <input type="reset" value="{{ 'BTN.RESET' | translate }}" (click)="cancel()" class="btn btn-danger" />
                </div>
                <div class="form-group col-md-12" *ngIf="onclicked">
                    <center>
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </center>

                </div>
            </div>
        </form>
         
         
    </div>
</div>
