<!--div class="row command-row text-right">
  <div class="col-md-12"> 
    <span matTooltip="Liste des alertes">
      <a class="btn btn-sm btn-primary" (click)="getAlerts()">
        <i class="fa fa-list"></i> {{ 'ALERTDETAIL.ALERTLIST' | translate }}
      </a>
    </span>
  </div>
</div-->
<mat-card>
  <div class="our-display details-list">
    <fieldset>
      <legend>{{ 'INFOS' | translate }}</legend>
      <div class="row">
        <div id="form-alert-phone-group" class="form-group col-md-6">
          <label class="control-label" for="personName">{{ 'ALERTDETAIL.ISSUER' | translate }}</label>
          <strong class="form-control">{{alerts.personName}}</strong>
        </div>
        <div id="form-alert-nom-group" class="form-group col-md-6">
          <label class="control-label" for="personPhone">{{ 'ALERTDETAIL.ISSUERNUMBER' | translate }}</label>
          <strong class="form-control">{{alerts.personPhone}}</strong>
        </div>
        <div id="form-alert-nom-group" class="form-group col-md-6">
            <label class="control-label" for="alertsDistrict">{{ 'ALERTDETAIL.LOCATOR' | translate }}</label>
            <strong class="form-control">{{alerts.alertsDistrict}}</strong>
        </div>
        <div id="form-alert-nom-group" class="form-group col-md-6">
            <label class="control-label" for="alertsDate">{{ 'ALERTDETAIL.DATE' | translate }}</label>
            <strong class="form-control">{{alerts.alertsDate}}</strong>
        </div>
        <div id="form-alert-nom-group" class="form-group col-md-6">
            <label class="control-label" for="alertsMessage">{{ 'ALERTDETAIL.MSG' | translate }}</label>
            <strong class="form-control">{{alerts.alertsMessage}}</strong>
        </div>
        <div id="form-alert-nom-group" class="form-group col-md-6">
          <label class="control-label" for="alertsDescription">{{ 'ALERTDETAIL.DESC' | translate }}</label>
          <strong class="form-control">{{alerts.alertsDescription}}</strong>
      </div>
      </div><br><br>
      
      <div>
        <h4 class="card-title bg-blue mb-0">Documents de cette alerte</h4>
        <table width=80%>
            <tr>
              <th>{{ 'NAME' | translate }}</th>
              <th>{{ 'DATE.CREATE' | translate }}</th>
              <th> {{ 'MATTOOLTIP.DOWNLOAD' | translate }}</th>
              <th>{{ 'MATTOOLTIP.IMG' | translate }}</th>
              <th>{{ 'DELETE' | translate }}</th>
            </tr>
           <tr *ngFor='let doc of documentsList'>
              <td>{{doc.documentName}}</td>
              <td>{{doc.createdDate}}</td>
              <td>
                <center>
                  <button (click)="downloadDocument(doc)" class="btn btn-sm btn-success">
                  <i class="fa fa-download"></i>
                </button>
                </center>
                
              </td>
              <td>
                <center>
                  <button (click)="openModal(doc)" class="btn btn-sm btn-success">
                  <i class="fa fa-image"></i>
                </button>
                </center>
                
              </td>              
              <td>
                <center>
                  <button class="btn btn-danger" (click)="onDelete(doc)">
                      <span class="fa fa-trash-o"></span>
                  </button>
                </center>
                  
              </td>
            </tr>
        </table>
      </div>
  </fieldset>
  </div>
</mat-card>
