<app-breadcrumb></app-breadcrumb>

<mat-tab-group color="primary">

    <mat-tab label="{{ 'HABILITATION.ASSEMPLOYE' | translate }}">
      <ng-template matTabContent>
        <div class="container">
          <div class="formContent">
            <form #employee_GroupForm="ngForm" (ngSubmit)="affectEmployeeGoup()" class="formLogin">
              <h4>{{ 'HABILITATION.ASSEMPLOYE' | translate }}</h4>
              <mat-form-field appearance="outline">
                    <mat-label>{{ 'HABILITATION.EMPLOYENAME' | translate }}</mat-label>
                    <mat-select name="employeeId" [(ngModel)]="empGoupemp.employeeGroupEmployeePK.employeeId" required>
                        <mat-option >-----</mat-option>
                        <mat-option *ngFor="let employee of employees" [value]="employee.employeeId"> 
                            {{ employee.employeeName }} {{ employee.employeeSurname }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix></mat-icon>
                    <mat-error>{{ 'HABILITATION.EMPLOYERSELECT' | translate }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                        <mat-label>{{ 'HABILITATION.GROUPNAME' | translate }}</mat-label>
                        <mat-select name="employeeGroupId" [(ngModel)]="empGoupemp.employeeGroupEmployeePK.employeeGroupId" required>
                            <mat-option >-----</mat-option>
                            <mat-option *ngFor="let employeeGroup of employeeGroups" [value]="employeeGroup.employeeGroupId"> 
                                {{ employeeGroup.groupName }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix></mat-icon>
                        <mat-error>{{ 'HABILITATION.GROUPERROR' | translate }}</mat-error>
                </mat-form-field>
                <div class="row pull-right">
                  <div class="form-group col-md-12" style="clear:both;">
                    <span *ngIf="!isSubmit">
                      <input [disabled]="employee_GroupForm.invalid" type="submit" value="{{'BTN.SUBMIT' | translate}}" class="btn btn-success" />
                    </span>
                    <span *ngIf="isSubmit">
                      <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </span>                      
                    </div>
                </div>
            </form>
          </div>
      </div> 
      <div class="mat-elevation-z8">
        <mat-card>
          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
            <div class="col-sm-6">
              <input type="text" (keyup)="onFilteremployeeGroupEmployees($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
            </div>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isEmptyemployeeGroupEmployees">
            not found 
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">{{ 'HABILITATION.EMPLOYE' | translate }}</th>
                <th scope="col">{{ 'HABILITATION.GROUPNAME' | translate }} </th>
                <th scope="col"> {{ 'HABILITATION.ASSDATE' | translate }} </th>
                <th scope="col"><center> <h6>{{ 'ACTIONL.EDIT' | translate }}</h6></center></th>
                <th scope="col"><center> <h6>{{ 'ACTIONL.DELETE' | translate }}</h6></center></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employeeGroupEmployee of employeeGroupEmployees | slice: (pageemployeeGroupEmployees-1) * pageSizeemployeeGroupEmployees : pageemployeeGroupEmployees * pageSizeemployeeGroupEmployees">
              <th scope="let row"> {{employeeGroupEmployee.employee.employeeName}}</th>
              <td> {{employeeGroupEmployee.employeeGroup.groupName}} </td>
              <td>{{getformatDater(employeeGroupEmployee.employeeGroupEmployeePK.fromDate)}} </td>
              <td>
                <center>
                  <span *ngIf="!isEmployeeGroupEmployeeDeleted(employeeGroupEmployee)" matTooltip="{{'EDIT' | translate}}">
                    <a (click)="editEmployeeGroupEmployee(employeeGroupEmployee)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </a>
                  </span>
                </center>
              </td>
              <td>
                <center>
                  <span *ngIf="!isEmployeeGroupEmployeeDeleted(employeeGroupEmployee)" matTooltip="{{'DELETE' | translate}}">
                    <a (click)="deleteEmployeeGroupEmployee(employeeGroupEmployee)" class="btn btn-sm btn-danger">
                      <i class="fa fa-remove"></i>
                    </a>
                  </span>
                </center>
              </td>
            </tr>
          </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSizeemployeeGroupEmployees"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="pageemployeeGroupEmployees" [pageSize]="pageSizeemployeeGroupEmployees">
      </ngb-pagination>
    
      <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSizeemployeeGroupEmployees">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
      </select-->
    </div>
  </mat-card>
      </div>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{ 'HABILITATION.GROUPRIGHT' | translate }}">
      <ng-template matTabContent>
        <div class="container">
          <div class="formContent">
              <form #employeeGroupForm="ngForm" (ngSubmit)="affectAccessRightToGoup()" class="formLogin">
                  <h4>{{ 'HABILITATION.GROUPRIGHT' | translate }}</h4>
                  <mat-form-field appearance="outline">
                        <mat-label>{{ 'HABILITATION.GROUPRIGHTTITLE' | translate }}</mat-label>
                        <mat-select name="accessRightId" [(ngModel)]="accessRGoup.accessRightEmployeeGroupPK.accessRightId" required>
                            <mat-option >-----</mat-option>
                            <mat-option *ngFor="let accessRight of accessRights" [value]="accessRight.accessRightId"> 
                                {{ accessRight.accessRightName }}
                            </mat-option>
                        </mat-select>
                        <mat-icon matSuffix></mat-icon>
                        <mat-error>{{ 'HABILITATION.EMPLOYE' | translate }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                            <mat-label>{{ 'HABILITATION.GROUPNAME' | translate }}</mat-label>
                            <mat-select name="employeeGroupId" [(ngModel)]="accessRGoup.accessRightEmployeeGroupPK.employeeGroupId" required>
                                <mat-option >-----</mat-option>
                                <mat-option *ngFor="let employeeGroup of employeeGroups" [value]="employeeGroup.employeeGroupId"> 
                                    {{ employeeGroup.groupName }}
                                </mat-option>
                            </mat-select>
                            <mat-icon matSuffix></mat-icon>
                            <mat-error>{{ 'HABILITATION.GROUPERROR' | translate }}</mat-error>
                    </mat-form-field>
                  <div class="row pull-right">
                      <div class="form-group col-md-12" style="clear:both;">
                        <span *ngIf="!isSubmit1">
                          <input [disabled]="employeeGroupForm.invalid" type="submit" value="{{'BTN.SUBMIT' | translate}}" class="btn btn-success" />
                        </span>
                        <span *ngIf="isSubmit1">
                          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                        </span> 
                        </div>
                  </div>
              </form>
          </div>
      </div> 
      <div class="mat-elevation-z8">
        <mat-card>
          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
            <div class="col-sm-6">
              <input type="text" (keyup)="onFilteraccessRightEmployeeGroups($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
            </div>
      
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isEmptyaccessRightEmployeeGroups">
            not found 
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>
              
              <th scope="col">{{ 'HABILITATION.RIGHTNAME' | translate }} </th>
              <th scope="col"> {{ 'HABILITATION.GROUPNAME' | translate }} </th>
              <th scope="col"> {{ 'HABILITATION.ASSDATE' | translate }}  </th>
              <th scope="col"><center><h6> {{ 'ACTIONL.EDIT' | translate }} </h6></center></th>
              <th scope="col"><center><h6> {{ 'ACTIONL.DELETE' | translate }} </h6></center></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accessRightEmployeeGroup of accessRightEmployeeGroups | slice: (pageaccessRightEmployeeGroups-1) * pageSizeaccessRightEmployeeGroups : pageaccessRightEmployeeGroups * pageSizeaccessRightEmployeeGroups">
              <th scope="let row"> {{getTenFirstCharacter(accessRightEmployeeGroup.accessRight.accessRightName)}} </th>
              <td> {{getTenFirstCharacter(accessRightEmployeeGroup.employeeGroup.groupName)}} </td>
              <td> {{getformatDater(accessRightEmployeeGroup.accessRightEmployeeGroupPK.fromDate)}} </td>
              <td>
                <center>
                  <span *ngIf="!isAccessRightEmployeeGroupDeleted(accessRightEmployeeGroup)" matTooltip="{{'EDIT' | translate}} ">
                    <a (click)="editAccessRightGroup(accessRightEmployeeGroup)" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                    </a>
                  </span>
                </center>
              </td>
              <td>
                <center>
                  <span *ngIf="!isAccessRightEmployeeGroupDeleted(accessRightEmployeeGroup)" matTooltip="{{'DELETE' | translate}}">
                    <a (click)="deleteAccessRightEmployeeGroup(accessRightEmployeeGroup)" class="btn btn-sm btn-danger">
                    <i class="fa fa-remove"></i>
                    </a>
                  </span>
                </center>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="collectionSizeaccessRightEmployeeGroups"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="pageaccessRightEmployeeGroups" [pageSize]="pageSizeaccessRightEmployeeGroups">
            </ngb-pagination>
          
            <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSizeaccessRightEmployeeGroups">
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option [ngValue]="15">15</option>
              <option [ngValue]="20">20</option>
              <option [ngValue]="50">50</option>
            </select-->
          </div>
        </mat-card>
      </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'HABILITATION.MANARIGHT' | translate }}"> <!-- Gestion des droits d'access -->
      <ng-template matTabContent>
        <div class="container">
          <div class="formContent">
              <form #accessForm="ngForm" (ngSubmit)="createAccessRight()" class="formLogin">
                  <h4>{{ 'HABILITATION.MANARIGHT' | translate }} </h4>
                  <mat-form-field>
                      <input matInput placeholder="{{ 'HABILITATION.GROUPRIGHTTITLE' | translate }}" name="accessRightName" id="accessRightName" [(ngModel)]="accessRight.accessRightName" required
                          #accessRightName="ngModel">
                  </mat-form-field>
                  <div class="row pull-right">
                    <div class="form-group col-md-12" style="clear:both;">
                      <span *ngIf="!isSubmit2">
                        <input *ngIf="data.add; else editAccessRightButton" [disabled]="accessForm.invalid" type="submit" value="{{'BTN.SUBMIT' | translate}}" class="btn btn-success" />
                        <ng-template #editAccessRightButton>
                            <input type="submit" value="{{'BTN.UPDATE' | translate}}" [disabled]="" class="btn btn-success" />
                        </ng-template>
                        <input type="reset" value="{{'BTN.RESET' | translate}}" (click)="cancel()" class="btn btn-danger" >
                      </span>
                      <span *ngIf="isSubmit2">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                      </span> 
                    </div>
                  </div>
              </form>
          </div>
        </div> 

          <div class="mat-elevation-z8">
            <mat-card>
              <div class="form-group row">
                <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
                <div class="col-sm-6">
                  <input type="text" (keyup)="onFilteraccessRights($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
                </div>
          
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="isEmptyaccessRights">
                not found 
              </div>
              <table class="table table-bordered">
                <thead>
                <tr>
                  
                  <th scope="col">{{ 'HABILITATION.RIGHTNAME' | translate }}</th>
                  <th scope="col"><center><h6> {{ 'ACTIONL.EDIT' | translate }} </h6> </center></th>
                  <th scope="col"><center><h6> {{ 'ACTIONL.DELETE' | translate }} </h6> </center></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let accessRight of accessRights | slice: (pageaccessRights-1) * pageSizeaccessRights : pageaccessRights * pageSizeaccessRights">
                  <th scope="let row"> {{getTenFirstCharacter(accessRight.accessRightName)}} </th>
                  <td>
                    <center>
                      <span *ngIf="!isAccessRightDeleted(accessRight)" matTooltip="{{'EDIT' | translate}} ">
                        <a (click)="editAccessRight(accessRight)" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit"></i>
                        </a>
                      </span>
                    </center>
                  </td>
                  <td>
                    <center>
                      <span *ngIf="!isAccessRightDeleted(accessRight)" matTooltip="DELETE">
                        <a (click)="deleteAccessRight(accessRight)" class="btn btn-sm btn-danger">
                        <i class="fa fa-remove"></i>
                        </a>
                      </span>
                    </center>
                  </td>
                </tr>
                </tbody>
              </table>
              <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="collectionSizeaccessRights"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="pageaccessRights" [pageSize]="pageSizeaccessRights">
                </ngb-pagination>
              
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeaccessRights">
                  <option [ngValue]="5">5</option>
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="15">15</option>
                  <option [ngValue]="20">20</option>
                  <option [ngValue]="50">50</option>
                </select>
              </div>
            </mat-card>
          </div>
          
      </ng-template>
    </mat-tab>
    <mat-tab label="{{ 'HABILITATION.MANGROUP' | translate }}"> <!-- Gestion des groupes -->
        <ng-template matTabContent>
          <div class="container">
            <div class="formContent">
                <form #groupForm="ngForm" (ngSubmit)="createEmployeeGroup()" class="formLogin">
                    <h4>{{ 'HABILITATION.MANGROUP' | translate }}</h4>
                    <mat-form-field>
                        <input matInput placeholder="{{ 'HABILITATION.GROUPNAME' | translate }}" name="groupName" id="groupName" [(ngModel)]="employeeGroup.groupName" required
                            #groupName="ngModel">
                    </mat-form-field>
                    <div class="row pull-right">
                        <div class="form-group col-md-12" style="clear:both;">
                          <span *ngIf="!isSubmit3">
                            <input [disabled]="groupForm.invalid" type="submit" value="{{'BTN.SUBMIT' | translate}}" class="btn btn-success" />
                          </span>
                          <span *ngIf="isSubmit3">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                          </span> 
                        </div>
                    </div>
                </form>
            </div>
        </div> 

        <div class="mat-elevation-z8">
          <mat-card>
            <div class="form-group row">
              <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
              <div class="col-sm-6">
                <input type="text" (keyup)="onFilteremployeeGroups($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
              </div>
        
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="isEmptyemployeeGroups">
              not found 
            </div>
            <table class="table">
              <thead>
              <tr>
                
                <th scope="col">{{ 'HABILITATION.GROUPNAME' | translate }} </th>
                <th scope="col"><center><h6> {{ 'ACTIONL.EDIT' | translate }} </h6></center></th>
                <th scope="col"><center><h6> {{ 'ACTIONL.DELETE' | translate }} </h6></center></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let employeeGroup of employeeGroups | slice: (pageemployeeGroups-1) * pageSizeemployeeGroups : pageemployeeGroups * pageSizeemployeeGroups">
                <th scope="let row"> {{getTenFirstCharacter(employeeGroup.groupName)}}</th>
                <td>
                  <span *ngIf="!isEmployeeGroupDeleted(employeeGroup)" matTooltip="{{'EDIT' | translate}} ">
                    <a (click)="editEmployeeGroup(employeeGroup)" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                    </a>
                </span>
                </td>
                <td>
                  <center>
                    <span *ngIf="!isEmployeeGroupDeleted(employeeGroup)" matTooltip="{{'DELETE' | translate}}">
                      <a (click)="deleteEmployeeGroup(employeeGroup)" class="btn btn-sm btn-danger">
                      <i class="fa fa-remove"></i>
                      </a>
                    </span>
                  </center>
                </td>
              </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="col-md-4">
                <ngb-pagination [collectionSize]="collectionSizeemployeeGroups"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="pageemployeeGroups" [pageSize]="pageSizeemployeeGroups">
              </ngb-pagination>
              </div>
              <div class="col-md-4 col-md-offset-4">
                <select class="custom-select" style="width: auto" [(ngModel)]="pageSizeemployeeGroups">
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
                <option [ngValue]="20">20</option>
                <option [ngValue]="50">50</option>
              </select>
              </div>
            </div>
          </mat-card>
          </div>

        </ng-template>
      </mat-tab>
  </mat-tab-group>