.example-button-toggle-label {
    display: inline-block;
    margin: 16px;
  }
  
  .container{
    padding: 25px;
}

.formLogin{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.formLogin mat-form-field{
    width: 50%;
}
.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.example-section {
  margin: 12px 0;
}

.mat-form-field {
  margin-top: 16px;
}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  col-md-12, mat-cell span{
    padding: 2px;
}