<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="formContent">
        <form #employee_GroupForm="ngForm" (ngSubmit)="onSubmiEmployeeGroupEmployee()" class="formLogin">
            <h4>{{ 'EDITEMPLOYEGROUP.TITLE' | translate }}</h4>
            <mat-form-field appearance="outline">
                <mat-label>{{ 'EDITEMPLOYEGROUP.TITLETWO' | translate }}</mat-label>
                <mat-select name="employeeId" [(ngModel)]="empGroupEmp.employeeGroupEmployeePK.employeeId" required>
                    <mat-option >-----</mat-option>
                    <mat-option *ngFor="let employee of employees" [value]="employee.employeeId"> 
                        {{ employee.employeeName }}
                    </mat-option>
                </mat-select>
                <mat-icon matSuffix></mat-icon>
                <mat-error>{{ 'EDITEMPLOYEGROUP.EMPLOYER' | translate }}</mat-error>
            </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'EDITEMPLOYEGROUP.NAME' | translate }}</mat-label>
                    <mat-select name="employeeGroupId" [(ngModel)]="empGroupEmp.employeeGroupEmployeePK.employeeGroupId" required>
                        <mat-option >-----</mat-option>
                        <mat-option *ngFor="let employeeGroup of employeeGroups" [value]="employeeGroup.employeeGroupId"> 
                            {{ employeeGroup.groupName }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix></mat-icon>
                    <mat-error>{{ 'EDITEMPLOYEGROUP.ERROR' | translate }}</mat-error>
                </mat-form-field>
            <div class="row pull-right">
                <div class="form-group col-md-12" style="clear:both;">
                    <span *ngIf="!isSubmit">
                        <input [disabled]="employee_GroupForm.invalid" type="submit" value="{{'BTN.SUBMIT'|translate}}" class="btn btn-success" />
                    
                    </span>
                    <span *ngIf="isSubmit">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                    </span>
                   
                </div>
            </div>
        </form>
    </div>
</div>
