<app-breadcrumb></app-breadcrumb>

<div class="container">
    <div class="formContent">
        <form #agentForm="ngForm" (ngSubmit)="onSubmit()" class="formLogin">
            <ng-template matStepLabel>{{ 'ADDEDITAGENT.TITLE' | translate }}</ng-template>
            <mat-form-field>
                <input matInput placeholder="{{ 'NAME' | translate }}" name="agentName" type="text" id="agentName" [(ngModel)]="agentToSaveOrUpdate.agentName" required
                    #agentName="ngModel">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{ 'PHONE' | translate }}" name="agentPhoneNumber" type="text" pattern="[6]{1}[0-9]{8}" id="agentPhoneNumber" [(ngModel)]="agentToSaveOrUpdate.agentPhoneNumber" required
                    #agentPhoneNumber="ngModel">
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{ 'LOGIN' | translate }}" name="agentLogin" id="agentLogin" [(ngModel)]="agentToSaveOrUpdate.agentLogin" type="text" (blur)="verifyLogin()"
                    required
                    #agentLogin="ngModel">
                <mat-icon matSuffix>Login</mat-icon>
            </mat-form-field>
            <div *ngIf="data.add && isLoginUsed" class="alert alert-danger">
                {{ 'ADDEDITAGENT.MSG' | translate }}
            </div>
            <div *ngIf="!data.add && currentLogin != agentToSaveOrUpdate.agentLogin && isLoginUsed" class="alert alert-danger">
                {{ 'ADDEDITAGENT.MSG' | translate }}
            </div>
           <!-- <mat-form-field>
                <input matInput placeholder="Mot de passe" name="agentPassword" id="agentPassword" [(ngModel)]="agentToSaveOrUpdate.agentPassword" type="password" required
                    #agentPassword="ngModel">
                <mat-icon matSuffix>password</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Mot de passe" name="agentPassword2" id="agentPassword2" [(ngModel)]="agentToSaveOrUpdate.agentPassword" type="password"
                    #agentPassword2="ngModel">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>-->
           <!--<button mat-button [disabled]="" (click)="onSubmit()">Valider</button>-->
            <div class="row pull-right">
                <div class="form-group col-md-12" style="clear:both;">
                    <div *ngIf="data.add;then addAgentButton else editAgentButton"></div>
                    <ng-template #addAgentButton>
                        <div *ngIf="!onCliked">
                            <input [disabled]="isLoginUsed || agentForm.invalid" type="submit" value="{{ 'BTN.SUBMIT' | translate }}" class="btn btn-success" />
                            <input type="reset" value="{{ 'BTN.RESET' | translate }}" (click)="cancel()" class="btn btn-danger" />
                        </div>
                        <div *ngIf="onCliked">
                            <center>                                
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </center>
                        </div>                        
                    </ng-template>                   
                    <ng-template #editAgentButton>
                        <div *ngIf="!onCliked">
                            <input type="submit" value="{{ 'BTN.UPDATE' | translate }}" [disabled]="currentLogin != agentToSaveOrUpdate.agentLogin && isLoginUsed" class="btn btn-success" />
                            <input type="reset" value="{{ 'BTN.RESET' | translate }}" (click)="cancel()" class="btn btn-danger" />
                        </div>
                        <div *ngIf="onCliked">
                            <center>                                
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </center>
                        </div>
                    </ng-template>
                    
                </div>
            </div>
        </form>         
    </div>
</div>
