/* You can add global styles to this file, and also import other style files */
/*@import "../node_modules/material-design-icons/iconfont/material-icons.css";*/
@import "~bootstrap/dist/css/bootstrap.css";
@import "~leaflet/dist/leaflet.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
