<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li *ngFor="let breadcrumb of data.breadcrumb" class="breadcrumb-item">
    <a routerLink="{{breadcrumb.routerLink}}">{{breadcrumb.text}}</a>
  </li>
  <li class="breadcrumb-item active">{{data.title}}</li>
</ol>