<app-breadcrumb></app-breadcrumb>
<div class="container">
        <div class="formContent">
            <form [formGroup]="affectForm" (ngSubmit)="onSubmit()">
                <h4>{{ 'AFFECTAGENTDEVICE.TITLE' | translate }}</h4>
                <mat-form-field *ngIf="agent" appearance="outline">
                    <mat-label>{{ 'AFFECTAGENTDEVICE.AGENT' | translate }}</mat-label>
                    <input matInput formControlName="agent">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'AFFECTAGENTDEVICE.LABEL' | translate }}</mat-label>
                    <mat-select formControlName="device" required>
                        <mat-option >-----</mat-option>
                        <mat-option *ngFor="let device of devices" [value]="device"> 
                            {{ device.deviceName }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>device_unknown</mat-icon>
                    <mat-error>{{ 'AFFECTAGENTDEVICE.ERROR' | translate }}</mat-error>
                </mat-form-field>
                <div *ngIf="!isSubmit">
                    <button mat-raised-button type="submit" [disabled] = "affectForm.invalid" color="primary"><mat-icon matSuffix>add</mat-icon>{{ 'BTN.SUBMIT' | translate }}</button>
                </div>
                <div *ngIf="isSubmit">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>                
            </form>
        </div>
    </div>
    