

<div div [ngSwitch]="type">
    <div *ngSwitchCase="'INTERRUPTION'">
        <div class="modal-header btn-warning">
            <h4 class="modal-title pull-left">{{ 'INTERRUP' | translate }}: {{title}} </h4>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <form [formGroup]="myInterruptForm" (ngSubmit)="onSubmitInterrupt()">
                    <label for="motifInterruption">{{ 'MOTIFINTERRUP' | translate }}</label>
                    <select class="form-control" id="interrupt" formControlName="interrupt"  name="interrupt">
                        <option value="Abscence du permit de Construire">{{ 'ABSCONSTRUIRE' | translate }}</option>
                        <option value="Abscence du permit d'implanter">{{ 'ABSIMPLANTER' | translate }}</option>
                        <option value="Servitude Publique">{{ 'SERVIPUBLIC' | translate }}</option>
                        <option value="Modification du Lotissement">{{ 'MODIFLOTISS' | translate }}</option>
                        <option value="Empiétement du domaine public de l'Etat">{{ 'PUBLICETA' | translate }}</option>
                        <option value="Empiétement du domaine prive de l'Etat">{{ 'PRIVEETAT' | translate }}</option>
                        <option value="Empiétement du domaine des Collectivites Territoriales Decentralisées">{{ 'COLLECTDESC' | translate }}</option>
                        <option value="Non Respect des règles générales d'Urbanisme et de Construction">{{ 'NORMEURBANIS' | translate }}</option>
                    </select>
                    <div *ngIf="okinterump" class="alert alert-success">{{ 'CONFIRMINTERRUP' | translate }}</div>
                    <div *ngIf="myInterruptForm.get('interrupt').invalid && myInterruptForm.get('interrupt').touched" class="alert alert-danger">{{ 'CHOIX' | translate }} {{ 'MOTIFINTERRUP' | translate }}</div>
                        <br>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <span *ngIf="!isSubmit">
                <button type="button" (click)="onSubmitInterrupt()" [disabled]="myInterruptForm.invalid" class="btn btn-warning" >{{'INTERRUP'|translate}}</button>
            </span>
            <span *ngIf="isSubmit">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </span>            
        </div>
        
    </div>
    <div *ngSwitchCase="'RESTART'">
        <div class="modal-header btn-success">
            <h4 class="modal-title pull-left">{{ 'RELANCEMENT' | translate }}: {{title}} </h4>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <form [formGroup]="myReloadForm" (ngSubmit)="onSubmitReload()">
                    <label for="motifDelete">{{ 'MOTIFRELANCEMENT' | translate }}</label>
                    <select class="form-control" id="reloadSite" formControlName="reloadSite"  name="reloadSite">
                        <option value="Permit de Construire">{{ 'PERMITCONST' | translate }}</option>
                        <option value="Permit d'implanter">{{ 'PERMITIMPLA' | translate }}</option>
                    </select>
                    <div *ngIf="okreload" class="alert alert-success">{{ 'CONFIRMRELANCE' | translate }}</div>
                    <div *ngIf="myReloadForm.get('reloadSite').invalid && myReloadForm.get('reloadSite').touched" class="alert alert-danger">{{ 'CHOIX' | translate }} {{ 'MOTIFRELANCEMENT' | translate }}</div>
                        <br>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <span *ngIf="!isSubmit">
                <button type="button" (click)="onSubmitReload()" [disabled]="myReloadForm.invalid" class="btn btn-success" >{{ 'RELANCEMENT' | translate }}</button>
            </span>
            <span *ngIf="isSubmit">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </span> 
        </div>
        
    </div>
    <div *ngSwitchCase="'ADDDOC'">
        <div class="modal-header btn-primary">
            <h4 class="modal-title pull-left"> {{title}} </h4>
        </div>
        <div class="modal-body">
            <div class="container">
            <div class="formContent">
                <form [formGroup]="ngForm" class="formLogin">
                    <label for="doc">{{ 'ADDDOCUMENT.DOCNAME' | translate }}</label>
                    <ng-template matStepLabel>{{ 'ADDDOCUMENT.ADD' | translate }}</ng-template>
                    <input class="form-control is-valid" autocomplete="off" placeholder="{{ 'DOCNAME' | translate }}" formControlName="documentName" name="documentName" id="documentName" required>
                    <div *ngIf="ngForm.get('documentName').invalid && ngForm.get('documentName').touched" class="alert alert-danger">{{ 'NAMEDOCERROR' | translate }}</div>
                    <br>
                    
                    <label for="acte">{{ 'ADDDOCUMENT.TYPE' | translate }}</label>
                    <select class="form-control"  name="docTypeId" id="docTypeId"  (change)="chooseDocType()" required formControlName="addDocNameType">
                        <option *ngFor="let docType of docTypes" [value]="docType.docTypeId" >
                            {{docType.docTypeName}}
                        </option>
                    </select>
                    <div *ngIf="ngForm.get('addDocNameType').invalid && ngForm.get('addDocNameType').touched" class="alert alert-danger">{{ 'TYPEDOCERROR' | translate }}</div>
                    <br>
                    
                    <label for="acte">{{ 'ADDDOCUMENT.DOCACTE' | translate }}</label>
                    <select class="form-control"  id="documentCode" formControlName="documentCode"  name="documentCode" required >
                        <option *ngFor="let acteAd of actesAdministrativeList" [value]="acteAd.code" >
                            {{acteAd.acte}}
                        </option>
                    </select>
                    <div *ngIf="ngForm.get('documentCode').invalid && ngForm.get('documentCode').touched" class="alert alert-danger">{{ 'TYPEDOCERROR' | translate }}</div>
                    <br>
                    
                    <label >{{ 'ADDDOCUMENT.DOCNUMERO' | translate }}</label>
                    <input class="form-control" autocomplete="off"  formControlName="documentNumber" name="documentNumber" id="documentNumber" required>
                    <div *ngIf="ngForm.get('documentNumber').invalid && ngForm.get('documentNumber').touched" class="alert alert-danger">{{ 'TYPEDOCERROR' | translate }}</div>
                    
                    <br>
                    <div *ngIf="ngForm.get('addDocNameType').valid">
                        <input type="file" name="file" id="file" [accept]="typeFile" (change)="fileChange($event)" placeholder="{{ 'ADDDOCUMENT.DOCSELECT' | translate }}" formControlName="file" required>
                        <div *ngIf="ngForm.get('file').invalid && ngForm.get('file').touched" class="alert alert-danger">{{ 'CHOIXFILEERROR' | translate }}</div>
                    </div>
                   
                </form>
                <div *ngIf="okadddoc" class="alert alert-success">{{ 'CONFIRMUPLOAD' | translate }}</div>
                 
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <span *ngIf="!isSubmit">
                <input [disabled]="ngForm.invalid" (click)="onSubmit()" type="button" value="{{ 'BTN.SUBMIT' | translate }}" class="btn btn-primary" />
            </span>
            <span *ngIf="isSubmit">
                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </span> 
        </div>
        
    </div>

</div>



