<app-breadcrumb></app-breadcrumb>

<div *ngIf="isAgentActivitiesListEmpty();then emptyList else dataTable"></div>
<ng-template #emptyList>
  <mat-card>
    <div *ngIf="isLoading;then loading else errorMessage"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #errorMessage>
      <div [ngClass]="{'alert': 'Aucune activité à noter', 'alert-success': false, 'alert-danger': true }">
        <div class="row">
            <div class="col-md-6">
              {{ 'DASHBOARD.ERROR' | translate }}
            </div>
        </div>
      </div>
    </ng-template>
  </mat-card>
</ng-template>
<ng-template #dataTable>
  <div class="row command-row text-right">
    <div class="col-md-12">
      <span matTooltip="{{ 'REFRESH' | translate }}">
        <a class="btn btn-sm btn-secondary" (click)="refresh()">
          <i class="fa fa-refresh"></i> {{ 'REFRESH' | translate }} 
        </a>
      </span>
    </div>
  </div>
  <div class="row">  
    <div *ngIf="isLoadingSector;then loadingSector else okSector"></div>
    <ng-template #loadingSector>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #okSector>
      <div class="col-md-6">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="getAllAgentActivities()">
            <mat-panel-title>              
            </mat-panel-title>
            <mat-panel-description>
              <h3 class="bad_centering">SECTOR STAT</h3> 
            </mat-panel-description>
          </mat-expansion-panel-header>      
          <div class="divChart">
            <canvas id="mychart"></canvas>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    </ng-template>
    

    <div *ngIf="isLoadingSite;then loadingSite else okSite"></div>
    <ng-template #loadingSite>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #okSite>
<div class="col-md-6">      
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header (click)="getAllAgentActivities()">
            <mat-panel-title>
              
            </mat-panel-title>
            <mat-panel-description>
              <h3 class="bad_centering">{{ 'SITE' | translate }} STAT</h3>
            </mat-panel-description>
          </mat-expansion-panel-header>      
          <div class="divchartsite">
            <canvas id="mychartsite"></canvas>
          </div>
        </mat-expansion-panel>
      </mat-accordion>    
  </div>
    </ng-template>

    
</div>

<br /><br /> 

  <mat-card>
  <div class="form-group row">
    <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
    <div class="col-sm-6">
      <input type="text"  autocomplete="off"  (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
    </div>

  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
    not found 
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>      
      <th scope="col"><center> <h6>{{ 'DASHBOARD.AGENTACTION' | translate }}</h6></center></th>
      <th scope="col"><center> <h6>{{ 'DASHBOARD.NAMEAGENT' | translate }}</h6> </center></th>
      <th scope="col"><center> <h6>{{ 'DASHBOARD.DATE' | translate }}</h6> </center></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let agentActivity of agentActivitiesList | slice: (page-1) * pageSize : page * pageSize">
      <th scope="let row"> 
        <b><strong>{{agentActivity.agentAction}}</strong></b><br />
        <strong>{{ 'ADDALERT.DISTRICT' | translate }} :</strong><em>{{agentActivity.documentId.siteId.districtId.districtName}}</em><br />
        <strong>{{ 'SITENAME' | translate }} :</strong><em>{{agentActivity.documentId.siteId.siteName}}</em><br />
        <strong>{{ 'OWNERNAME' | translate }} :</strong><em>{{agentActivity.documentId.siteId.ownerName}}</em>
      </th>
      <td><br /><br /><center><strong>{{agentActivity.agentId.agentName}}</strong></center></td>
      <td><br /><br /><center><strong>{{agentActivity.agentActivityDate}}</strong></center></td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-4">
      <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>
    </div>
    <!--div class="col-md-4 col-md-offset-4">
      <select class="form-control" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="5">5</option>
      <option [ngValue]="10">10</option>
      <option [ngValue]="15">15</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
    </select>
    </div-->
  </div>
</mat-card>

</ng-template>



<br /><br> 



