.good_items{
    color: green;
}

.bad_items{
    color: red;
}

.good_centering{
    text-align: center;
    text-decoration: green;
}

.bad_centering{
    text-align: center;
    text-decoration: red;
}

table{
    width: 100%;
}

.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-title,
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  #divchartsite{
    display: block;
    width: 100%;
    height: 100%;
}
#divChart{
  display: block;
  width: 100%;
  height: 100%;
}