<div class="container" id="formLogin">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header"><h3>{{ 'LOGINFORM.TITLE' | translate }}</h3><hr></div>
    <div class="card-body" id="formLogin">
      <form #loginForm="ngForm"  (ngSubmit)="login()">
        <div class="form-group">
          <label for="employeeLogin">{{ 'LOGINFORM.LOGIN' | translate }}</label>
          <input 
            class="form-control" name="employeeLogin" [(ngModel)]="employee.employeeLogin" 
            id="employeeLogin" type="text"  placeholder="{{ 'PLACEHOLDER.LOGINFORMLOGIN' | translate }}" required
            #employeeLogin="ngModel" 
          />
        </div>
        <div class="form-group">
          <label for="employeePassword">{{ 'LOGINFORM.PWD' | translate }}</label>
          <input 
            class="form-control" name="employeePassword" [(ngModel)]="employee.employeePassword" 
            id="employeePassword" type="password" placeholder="{{ 'PLACEHOLDER.LOGINFORMPWD' | translate }}" required
            #employeePassword="ngModel" 
          />
        </div>
        <div class="form-group">
          <div class="form-check">
            <mat-slide-toggle [checked]="employeeRemember" (change)="employeeRememberTrigered()">{{ 'LOGINFORM.REMEMBER' | translate }}</mat-slide-toggle>
          </div>
        </div>
        <button type="submit"  class="btn btn-primary btn-block" *ngIf="!isSubmit">
          {{ 'BTN.LOG' | translate }}
        </button>
        <center *ngIf="isSubmit">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </center>
          
      </form>
      <div class="text-center">
        <a class="d-block small" routerLink="/forgot-password">{{ 'LOGINFORM.FORGOT' | translate }}</a>
      </div>
    </div>
  </div>
</div>



