<div class="modal-header">
	<h4 class="modal-title pull-left"> {{title}} </h4>
</div>
<div class="modal-body" *ngIf="type, then okdata else kodata"></div>
<ng-template #okdata>
    <div class="modal-body">
        <app-details-of-site></app-details-of-site>

    </div>
</ng-template>
<ng-template #kodata>
    <div class="modal-body">
        <app-details-of-alerts></app-details-of-alerts>
        
    </div>
</ng-template>
