<app-breadcrumb></app-breadcrumb>
 <mat-card>
  <div class="our-display details-list">
    <fieldset>
      <legend>{{ 'INFOS' | translate }}</legend>
      <div class="row">
        <div id="form-device-name-group" class="form-group col-md-6">
          <label class="control-label" for="deviceName">{{ 'NAME' | translate }}</label>
          <strong class="form-control">{{device.deviceName}}</strong>
        </div>
        <div id="form-device-status-group" class="form-group col-md-6">
          <label class="control-label" for="status">{{ 'DEVICEDETAIL.STATUS' | translate }}</label>
          <strong class="form-control">{{device.status}}</strong>
        </div>
      </div>
      <div class="row">
          <div id="form-device-imei-group" class="form-group col-md-6">
              <label class="control-label" for="deviceImei">{{ 'IMEI' | translate }}</label>
              <strong class="form-control">{{device.deviceImei}}</strong>
            </div>
            <div id="form-device-description-group" class="form-group col-md-6">
              <label class="control-label" for="description">{{ 'DESCRIPTION' | translate }}</label>
              <strong class="form-control">{{device.description}}</strong>
            </div>
            <div id="form-device-createddate-group" class="form-group col-md-6">
                <label class="control-label" for="createddate">{{ 'DATE.CREATE' | translate }}</label>
                <strong class="form-control">{{getformatDater(device.createddate)}}</strong>
            </div>
      </div>
  </fieldset>
  </div>
</mat-card>
