<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="formContent">
        <form #employeeGroupForm="ngForm" (ngSubmit)="onSubmitAccessRightEmployeeGroup()" class="formLogin">
            <h4>{{ 'EDITARIGHTGROUP.TITLE' | translate }}</h4>
            <mat-form-field appearance="outline">
                  <mat-label>{{ 'EDITARIGHTGROUP.TITLETWO' | translate }}</mat-label>
                  <mat-select name="accessRightId" [(ngModel)]="arempGroup.accessRightEmployeeGroupPK.accessRightId" required>
                      <mat-option >-----</mat-option>
                      <mat-option *ngFor="let accessRight of accessRights" [value]="accessRight.accessRightId"> 
                          {{ accessRight.accessRightName }}
                      </mat-option>
                  </mat-select>
                  <mat-icon matSuffix></mat-icon>
                  <mat-error>{{ 'EDITARIGHTGROUP.EMPLOYER' | translate }}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                      <mat-label>{{ 'EDITARIGHTGROUP.NAME' | translate }}</mat-label>
                      <mat-select name="employeeGroupId" [(ngModel)]="arempGroup.accessRightEmployeeGroupPK.employeeGroupId" required>
                          <mat-option >-----</mat-option>
                          <mat-option *ngFor="let employeeGroup of employeeGroups" [value]="employeeGroup.employeeGroupId"> 
                              {{ employeeGroup.groupName }}
                          </mat-option>
                      </mat-select>
                      <mat-icon matSuffix></mat-icon>
                      <mat-error>{{ 'EDITARIGHTGROUP.ERROR' | translate }}</mat-error>
              </mat-form-field>
            <div class="row pull-right">
                <div class="form-group col-md-12" style="clear:both;">
                    <span *ngIf="!isSubmit">
                        <input [disabled]="employeeGroupForm.invalid" type="submit" value="{{'BTN.SUBMIT'|translate}}" class="btn btn-success" />
                    
                </span>
                <span *ngIf="isSubmit">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </span>
                </div>
            </div>
        </form>
    </div>
</div>
