<app-breadcrumb></app-breadcrumb>
 <div class="row command-row text-right">
  <div class="col-md-12">
    <span matTooltip="Changer le mot de passe">
      <a data-toggle="modal" (click)="changePassword()" class="btn btn-sm btn-primary">
        <i class="fa fa-edit"></i> {{ 'EMPLOYEDETAIL.TITLE' | translate }}
      </a>
    </span>
  </div>
</div>
<mat-card>
  <div class="our-display details-list">
    <fieldset>
      <legend>{{ 'INFOS' | translate }}</legend>
      <div class="row">
        <div id="form-employee-name-group" class="form-group col-md-6">
          <label class="control-label" for="employeeName">{{ 'EMPLOYEDETAIL.NAME' | translate }}</label>
          <strong class="form-control">{{employee.employeeName}}</strong>
        </div>
        <div id="form-employee-surname-group" class="form-group col-md-6">
          <label class="control-label" for="employeeSurname">{{ 'EMPLOYEDETAIL.PRENOM' | translate }}</label>
          <strong class="form-control">{{employee.employeeSurname}}</strong>
        </div>
      </div>
      <div class="row">
        <div id="form-employee-email-group" class="form-group col-md-3">
          <label class="control-label" for="employeeEmail">{{ 'MAIL' | translate }}</label>
          <strong class="form-control">{{employee.employeeEmail}}</strong>
        </div>
        <div id="form-employee-Phone-group" class="form-group col-md-3">
          <label class="control-label" for="employeePhoneNumber">{{ 'PHONE' | translate }}</label>
          <strong class="form-control">{{employee.employeePhoneNumber}}</strong>
        </div>
        <div id="form-employee-Matricule-group" class="form-group col-md-6">
          <label class="control-label" for="employeeMatricule">{{ 'REGISTRER' | translate }}</label>
          <strong class="form-control">{{employee.employeeMatricule}}</strong>
        </div>
      </div>
      <div class="row">
        <div id="form-employee-login-group" class="form-group col-md-3">
          <label class="control-label" for="employeeLogin">{{ 'LOGIN' | translate }}</label>
          <strong class="form-control">{{employee.employeeLogin}}</strong>
        </div>
        <div id="form-employee-birthDate-group" class="form-group col-md-3">
          <label class="control-label" for="employeeBirthdate">{{ 'DATE.DOB' | translate }}</label>
          <strong class="form-control">{{getformatDater(employee.employeeBirthdate)}}</strong>
        </div>
        <div id="form-employee-Matricule-group" class="form-group col-md-6">
          <label class="control-label" for="employeePlaceOfBirth">{{ 'DATE.POB' | translate }}</label>
          <strong class="form-control">{{employee.employeePlaceOfBirth}}</strong>
        </div>
      </div>

      <div class="row">
        <div id="form-employee-Nationality-group" class="form-group col-md-3">
          <label class="control-label" for="employeeNationality">{{ 'COUNTRY' | translate }}</label>
          <strong class="form-control">{{employee.employeeNationality}}</strong>
        </div>
        <div id="form-employee-Adress-group" class="form-group col-md-3">
          <label class="control-label" for="employeeAdress">{{ 'ADDR' | translate }}</label>
          <strong class="form-control">{{employee.employeeAdress}}</strong>
        </div>
        <div id="form-employee-Gender-group" class="form-group col-md-6">
          <label class="control-label" for="employeeGender">{{ 'EMPLOYEDETAIL.SEXE' | translate }}</label>
          <strong class="form-control">{{employee.employeeGender}}</strong>
        </div>
      </div>
  </fieldset>
  </div>
</mat-card>
