<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">    
                <div class="form-group">
                    <label for="resetPassword">{{ 'PWDEMPLOYE.OLD' | translate }}</label>
                    <input autocomplete="off" formControlName="resetPassword" class="form-control" 
                    [ngClass]="{
                        'is-invalid': f.resetPassword.errors
                      }"
                      name="resetPassword" id="resetPassword" type="password" placeholder="Saisissez votre nouveau mot de passe" />  
                      
                    <div *ngIf="f.resetPassword.errors && f.resetPassword.touched" id="resetPassword"  class="invalid-feedback">
                        <div *ngIf="f.resetPassword.errors.required" class="alert alert-danger">Password is required</div>
                    </div>
                
                
                </div>
                <div class="form-group col-6">
                    <label for="employeePassword">{{ 'PWDEMPLOYE.NEW' | translate }}</label>
                    <input autocomplete="off" formControlName="newPassword" class="form-control" 
                    [ngClass]="{
                        'is-invalid': f.newPassword.errors
                      }"
                    
                      name="newPassword" id="newPassword" type="password" placeholder="Saisissez votre nouveau mot de passe" />
                    
                      <div *ngIf="f.newPassword.errors && f.newPassword.touched" id="newPassword" class="invalid-feedback">
                        <div *ngIf="f.newPassword.errors.required" class="alert alert-danger">Password is required</div>
                        <div *ngIf="f.newPassword.errors.pattern" class="alert alert-danger">votre mot de passe dois avoir au moins une majuscule, un chiffre, une minuscule, pas de caractere speciaux</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="employeePassword">{{ 'PWDEMPLOYE.CONFIRM' | translate }}</label>
                    <input autocomplete="off" formControlName="cpassword" class="form-control" 
                    [ngClass]="{
                        'is-invalid': f.cpassword.errors
                      }"
                      name="cpassword" id="cpassword" type="password" placeholder="Confirmer votre nouveau mot de passe" required
                        
                        />
                        <div *ngIf="f.cpassword.errors  && f.cpassword.touched" id="cpassword" class="invalid-feedback">
                            <div *ngIf="f.cpassword.errors.required" class="alert alert-danger">
                                Confirm Password is required
                            </div>
                            <div *ngIf="f.cpassword.errors.matching" class="alert alert-danger">
                                Confirm Password does not match
                            </div>
                        </div>
                </div>
                <button type="submit"  [disabled]="form.invalid"  class="btn btn-primary btn-block" class="btn btn-success" *ngIf="!isSubmit">
                    {{ 'EDIT' | translate }}
                  </button>
                  <center *ngIf="isSubmit">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                  </center>
            </form>
        </div>
    </div>
  </div>
  
