<div class="container" id="formLogin">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header"></div>
    <div class="card-body">
      <div class="text-center mt-4 mb-5">
        <h4>{{ 'FORGOTPWD.TITLE' | translate }}</h4>
        <p>{{ 'FORGOTPWD.DESCRIPTION' | translate }}</p>
      </div>
      <form #loginForm="ngForm"  (ngSubmit)="rememberEmployeePassword()">
          <div class="form-group">
              <label for="employeeLogin">{{ 'FORGOTPWD.LOGIN' | translate }}</label>
              <input 
                class="form-control" name="employeeLogin" [(ngModel)]="employee.employeeLogin" 
                id="employeeLogin" type="email"  placeholder="{{ 'PLACEHOLDER.FORGETUSERNAME' | translate }}" required
                #employeeLogin="ngModel" 
              />
          </div>
        <div class="form-group">
            <label for="employeeMail">{{ 'FORGOTPWD.MAIL' | translate }}</label>
          <input class="form-control" id="employeeMail" name="employeeMail" type="email" [(ngModel)]="employee.employeeEmail" 
          aria-describedby="emailHelp" placeholder="{{ 'PLACEHOLDER.FORGETMAIL' | translate }}"
          #employeeMail="ngModel"
          >
        </div>
        <span *ngIf="!isSubmit">
          <input type="submit"  class="btn btn-primary btn-block" value="{{ 'BTN.FORGOT' | translate }}" />
        </span>
        <span *ngIf="isSubmit">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </span>
      </form>
      <div class="text-center">
          <a class="d-block small" routerLink="/authentication">{{ 'BTN.LOG' | translate }}</a>
        </div>
    </div>
  </div>
</div>