
<app-breadcrumb></app-breadcrumb>
<div *ngIf="isSectorListEmpty();then emptyList else dataTable"></div>
      <ng-template #emptyList>
        <mat-card>
          <div *ngIf="isLoading;then loading else errorMessage"></div>
          <ng-template #loading>
            <app-loading-marker></app-loading-marker>
          </ng-template>
          <ng-template #errorMessage>
            <!--div [ngClass]="{'alert': 'Aucun secteur enregistré pour', 'alert-success': false, 'alert-danger': true }"-->
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="addSector()" >
                    <i class="fa fa-plus"></i> {{'LISTSECTOR.ADD' | translate}}
                  </button>
                </div>
              </div>
            <!--/div-->
          </ng-template>
        </mat-card>
      </ng-template>
      <ng-template #dataTable>
        <div class="row command-row text-right">
          <div class="col-md-12">
            <span matTooltip="{{ 'REFRESH' | translate }}">
              <a class="btn btn-sm btn-secondary" (click)="refresh()">
                <i class="fa fa-refresh"></i> {{ 'REFRESH' | translate }}
              </a>
            </span>
            <span matTooltip="{{'ADD' | translate}}">
              <a data-toggle="modal" (click)="addSector()" class="btn btn-sm btn-primary">
                <i class="fa fa-plus"></i> {{'LISTSECTOR.ADD' | translate}} 
              </a>
            </span>
          </div>
        </div>
        <mat-card>
          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
            <div class="col-sm-6">
              <input type="text"  autocomplete="off"  (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
            </div>

          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
            not found 
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col"><center>{{ 'NAME' | translate }}</center>  </th>
              <th scope="col"> <center> {{ 'DESCRIPTION' | translate }}</center></th>
              <th scope="col"><center>{{ 'ADDDIST' | translate }} </center></th>
              <th scope="col"><center>{{ 'ACTIONL.DETAIL' | translate }} </center></th>
              <th scope="col"><center>{{ 'ACTIONL.EDIT' | translate }}</center></th>
            <th scope="col"><center>{{ 'ACTIONL.DELETE' | translate }}</center></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sector of sectorList | slice: (page-1) * pageSize : page * pageSize">
              <td>{{ sector.sectorName }}</td>
              <td>{{ sector.description }}</td>
              <td>
                <center>
                    <span *ngIf="!isSectorDeleted(sector)" matTooltip="{{ 'AFFECT' | translate }}">
                        <a class="btn btn-sm btn-primary" (click)="affectOfSector(sector)">
                          <i class="fa fa-plus"></i> {{'LISTSECTOR.AFFECT' | translate}}
                        </a>
                    </span>
                </center>
            </td>
              <td>
                  <center>
                      <span *ngIf="!isSectorDeleted(sector)" matTooltip="{{ 'DETAIL' | translate }}">
                          <a class="btn btn-sm btn-secondary" (click)="detailsOfSector(sector)">
                          <i class="fa fa-eye"></i> 
                          </a>
                      </span>
                  </center>
              </td>
              <td *ngIf="isRoot">
                  <center>
                      <span *ngIf="!isSectorDeleted(sector)" matTooltip="{{ 'MATTOOLTIP.EDITSECTORLIST' | translate }}">
                          <a (click)="editSector(sector)" class="btn btn-sm btn-primary">
                          <i class="fa fa-edit"></i>
                          </a>
                      </span>
                  </center>
              </td>
              <td *ngIf="isRoot">
                  <center>
                      <span *ngIf="!isSectorDeleted(sector)" matTooltip="{{ 'MATTOOLTIP.DELSECTORLIST' | translate }}">
                          <a (click)="deleteSector(sector)" class="btn btn-sm btn-danger">
                          <i class="fa fa-remove"></i>
                          </a>
                      </span>
                  </center>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-4">
              <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
            </div>
            <div class="col-md-4 col-md-offset-4">
              <!--select class="form-control" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="5">5</option>
              <option [ngValue]="10">10</option>
              <option [ngValue]="15">15</option>
              <option [ngValue]="20">20</option>
              <option [ngValue]="50">50</option>
            </select-->
            </div>
          </div>
        </mat-card>
      </ng-template> 





