<app-breadcrumb></app-breadcrumb>
 <div class="row command-row text-right">
  <div class="col-md-12">
    <span *ngIf="agent.status==0" matTooltip="Affecter un secteur à l'agent">
        <a (click)="onAffectSector()" class="btn btn-sm btn-primary" >
          <i class="fa fa-list"></i> {{ 'AGENTDETAIL.ASSIGNSECTOR' | translate }}
        </a>
    </span>  
    <span *ngIf="agent.status==0" matTooltip="Affecter un périphérique à un agent">
        <a (click)="onAffect()" class="btn btn-sm btn-primary" >
          <i class="fa fa-list"></i> {{ 'AGENTDETAIL.ASSIGNDEVICE' | translate }}
        </a>
      </span>  
    <span matTooltip="Liste des secteurs controlés par cet agent">
      <a class="btn btn-sm btn-primary" (click)="getAgentSectors()">
        <i class="fa fa-list"></i> {{ 'AGENTDETAIL.SECTORLIST' | translate }}
      </a>
    </span>
    <span matTooltip="Liste des périphériques utilisés par cet agent">
      <a class="btn btn-sm btn-primary" (click)="getAgentDevices()">
        <i class="fa fa-list"></i> {{ 'AGENTDETAIL.DEVICELIST' | translate }}
      </a>
    </span>
  </div>
</div>
<mat-card>
  <div class="our-display details-list">
    <fieldset>
      <legend>{{ 'INFOS' | translate }}</legend>
      <div class="row">
        <div id="form-agent-phone-group" class="form-group col-md-6">
          <label class="control-label" for="agentPhoneNumber">{{ 'PHONE' | translate }}</label>
          <strong class="form-control">{{agent.agentPhoneNumber}}</strong>
        </div>
        <div id="form-agent-nom-group" class="form-group col-md-6">
          <label class="control-label" for="agentName">{{ 'AGENTNAME' | translate }}</label>
          <strong class="form-control">{{agent.agentName}}</strong>
        </div>
      </div>
      <div class="row">
        <div id="form-agent-login-group" class="form-group col-md-6">
          <label class="control-label" for="agentLogin">{{ 'LOGIN' | translate }}</label>
          <strong class="form-control">{{agent.agentLogin}}</strong>
        </div><div id="form-agent-status-group" class="form-group col-md-6">
          <label class="control-label" for="status">{{ 'AGENTDETAIL.STATUS' | translate }}</label>
          <strong class="form-control">{{agent.status}}</strong>
        </div>
      </div>
  </fieldset>
  </div>
</mat-card>
