<app-breadcrumb></app-breadcrumb>
 
<div class="container">
    <div class="formContent">
        <form [formGroup]="myForm" class="formLogin">
            <ng-template matStepLabel>{{ 'ADDEDITSECTOR.INFOS' | translate }}</ng-template>
            <mat-form-field>
                <input matInput placeholder="{{ 'NAME' | translate }}" name="sectorName" id="sectorName" formControlName="sectorName" />
                <mat-icon matSuffix>name</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
                <textarea rows="7"  matInput placeholder="{{ 'DESCRIPTION' | translate }}" name="description" id="description" formControlName="description" ></textarea>
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
            <div class="row pull-right">
                <div class="form-group col-md-12" style="clear:both;">
                    <div *ngIf="data.add; then createSectorButton else editSectorButton"></div>
                    <ng-template #createSectorButton>
                        <div *ngIf="isSubmit">
                            <center>
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </center>
                        </div>
                        <div *ngIf="!isSubmit">
                            <input  [disabled]="myForm.invalid" (click)="onSubmit()" type="submit" value="{{ 'BTN.SUBMIT' | translate }}" class="btn btn-success" />
                            <input type="reset" value="{{ 'BTN.REST' | translate }}" (click)="cancel()" class="btn btn-danger" />
                        </div>                        
                    </ng-template>
                    
                    <ng-template #editSectorButton>
                        <div *ngIf="isSubmit">
                            <center>
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                            </center>
                        </div>
                        <div *ngIf="!isSubmit">
                            <input type="submit" (click)="onSubmit()"  [disabled]="myForm.invalid" value="{{ 'BTN.UPDATE' | translate }}" class="btn btn-success" />
                            <input type="reset" value="{{ 'BTN.REST' | translate }}" (click)="cancel()" class="btn btn-danger" />
                        </div> 
                        
                    </ng-template>
                    
                </div>
            </div>
        </form>
    </div>
</div>
