.container{
    padding: 25px;
}

form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h4, mat-form-field, button{
    width: 50%;
}

form h4{
    text-align: center;
}

form button{
    padding-top: 10px;
}

textarea[name=description] {
    resize: none;
    overflow:hidden;
  }