<app-breadcrumb></app-breadcrumb>

<div class="row">
  <mat-card *ngIf="isEmptyList" ><div [ngClass]="{'alert': 'Aucune activité à noter', 'alert-success': false, 'alert-danger': true }">
    <div class="row">
        <div class="col-md-6">
          {{ 'DASHBOARD.ERROR' | translate }}
        </div>
    </div>
  </div>
</mat-card>

<div  *ngIf="!isEmptyList">
  <div class="form-group row">
    <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
    <div class="col-sm-6">
      <input type="text"  autocomplete="off"  (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
    </div>
  </div>
  <div class="form-group row" *ngIf="isEmpty">
    <label for="search" class="col-sm-2 col-form-label" style="text-align: right;"> </label>
    <div class="col-sm-6  alert alert-danger">
      <h4><span> not found </span></h4>    
    </div>
  </div>

  
  <div *ngFor="let doc of docsList; let i = index ">
    <div [ngSwitch]="getExtension(doc.chemin)">
      <div class="panel panel-default col-sm-4" *ngSwitchCase="'img'">
        <!--div class="panel-header"><h2><strong><em><center>{{doc.acteName | uppercase}}</center> </em></strong></h2> </div-->
          <div  class="panel-body">
            <center>     
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title><strong><em><center>{{doc.acteName | uppercase}}</center> </em></strong></mat-card-title>
                <mat-card-subtitle>Numero Document: <strong><em>{{doc.documentselect.documentNumber | uppercase}}</em></strong></mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image width="100%" height="400px"  (click)="openModal(doc.chemin)"  src="{{doc.chemin}}" class="hover-shadow cursor">
              <mat-card-content>
                <!--p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p-->
              </mat-card-content>
              <mat-card-actions>
                <button class="btn btn-success" mat-button  (click)="DocExist(doc.documentselect)">Existe</button>
                <button class="btn btn-danger" mat-button (click)="DocExistPas(doc.documentselect)">N'existe pas</button>
              </mat-card-actions>
            </mat-card>
          </center>
          </div>
          <!--div class="panel-footer">
            <button class="btn btn-primary" mat-button  (click)="DocExist(doc)">Existe</button>
            <button class="btn btn-danger" mat-button (click)="DocExistPas(doc)">N'existe pas</button>
          </div-->
      </div>
      <div class="panel panel-default col-md-3" *ngSwitchCase="'pdf'">
        <!--div class="panel-header"><h2><strong><em><center>{{doc.acteName | uppercase}}</center> </em></strong></h2> </div-->
          <div  class="panel-body">
            <center>     
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title><strong><em><center>{{doc.acteName | uppercase}}</center> </em></strong></mat-card-title>
                  <mat-card-subtitle>Numero Document: <strong><em>{{doc.documentselect.documentNumber  | uppercase}}</em></strong></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image width="100%" height="400px"  (click)="openModal(doc.chemin)"  src="./../../../assets/images/img/00.png" class="hover-shadow cursor">
                <mat-card-content>
                  <!--p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p-->
                </mat-card-content>
                <mat-card-actions>
                  <button class="btn btn-success" mat-button  (click)="DocExist(doc.documentselect)">Existe</button>
                  <button class="btn btn-danger" mat-button (click)="DocExistPas(doc.documentselect)">N'existe pas</button>
                </mat-card-actions>
              </mat-card>
            </center>
            <!--span id="textSpan"> Numero Document: <strong>{{doc.numeroDoc | uppercase}}</strong> </span><br>
            <span id="textSpan">Demande faite le: {{doc.dateDemande|  date:"dd/MM/yyyy" }}</span><br>
            <img width="100%" height="400px"  class="hover-shadow cursor" src="./../../../assets/images/img/00.png" /-->
          </div>
          <!--div class="panel-footer">
            <button class="btn btn-primary" mat-button  (click)="DocExist(doc)">Existe</button>
            <button class="btn btn-success" mat-button (click)="DocExistPas(doc)">N'existe pas</button>
          </div-->
      </div>
      <div class="panel panel-default col-md-4" *ngSwitchCase="'word'">
        <!--div class="panel-header"><h2><strong><em><center>{{doc.acteName | uppercase}}</center> </em></strong></h2> </div-->
          <div  class="panel-body">
            <center>     
              <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title><strong><em><center>{{doc.acteName | uppercase}}</center> </em></strong></mat-card-title>
                  <mat-card-subtitle>Numero Document: <strong><em>{{doc.documentselect.documentNumber  | uppercase}}</em></strong></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image width="100%" height="400px"  (click)="openModal(doc.chemin)"  src="./../../../assets/images/img/word-logo-.jpg" class="hover-shadow cursor">
                <mat-card-content>
                  <!--p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p-->
                </mat-card-content>
                <mat-card-actions>
                  <button class="btn btn-success" mat-button  (click)="DocExist(doc.documentselect)">Existe</button>
                  <button class="btn btn-danger" mat-button (click)="DocExistPas(doc.documentselect)">N'existe pas</button>
                </mat-card-actions>
              </mat-card>
            </center>
            <!--span id="textSpan"> Numero Document: <strong>{{doc.numeroDoc | uppercase}}</strong> </span><br>
            <span id="textSpan">Demande faite le: {{doc.dateDemande|  date:"dd/MM/yyyy" }}</span><br>
            <img width="100%" height="400px"  class="hover-shadow cursor" src="./../../../assets/images/img/word-logo-.jpg" /-->
          </div>
          <!--div class="panel-footer">
            <button class="btn btn-primary" mat-button  (click)="DocExist(doc)">Existe</button>
            <button class="btn btn-success" mat-button (click)="DocExistPas(doc)">N'existe pas</button>
          </div-->
      </div>
    </div>
    
  </div>
</div>

</div>
