#documentCard{
    margin-left: 1%;
    margin-right: 1%;
}
.example-card {
    max-width: 100%;
  }
  .example-header-image {
    background-image: url('./../../../assets/images/img/images.png');
    background-size: cover;
  }
#textSpan{
    margin-left: 2%;
}
.image-row {
    display: flex;
    flex-wrap: wrap;
  }
  .image-row > .image-column {
    padding: 5px 10px;
  }
  .image-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .image-column {
    float: left;
    width: 25%;
  }
  img {
    width: 100%;
  }
  .slide-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000;
  }
  .slide-modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }
  .slide-modal-content .image-column {
    padding: 0;
  }
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #888888;
    text-decoration: none;
    cursor: default;
  }
  .img-slides {
    display: none;
  }
  .cursor {
    cursor: default;
  }
  .prev,
  .next {
    cursor: default;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 18px;
    margin-top: -50px;
    color: white !important;
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  img {
    margin-bottom: -4px;
  }
  .images {
    opacity: 0.7;
  }
  .active,
  .images:hover {
    opacity: 1;
  }
  img.hover-shadow {
    transition: 0.3s;
  }
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }