 
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="nameFormGroup" [editable]="isEditable">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Nom du Group</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput autocomplete="off" formControlName="groupName" placeholder="Group Name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext >suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="rightFormGroup" [editable]="isEditable">
      <form [formGroup]="rightFormGroup">
        <ng-template matStepLabel>Attribuer les Droit au group</ng-template>
        <mat-vertical-stepper>
          <mat-step>
            <ng-template matStepLabel>GESTION DES EMPLOYEES</ng-template>
              <section class="example-section">
                <p><mat-checkbox formControlName="addEmployee">Add Employée</mat-checkbox></p>
                <p><mat-checkbox formControlName="delEmployee">Del Employée</mat-checkbox></p>
                <p><mat-checkbox formControlName="listEmployée">List Employée</mat-checkbox></p>
              </section>
              <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>GESTION DES AGENTS</ng-template>
              <section class="example-section">
                <p><mat-checkbox formControlName="addAgent">Add Agent</mat-checkbox></p>
                <p><mat-checkbox formControlName="delAgent">Del Agent</mat-checkbox></p>
                <p><mat-checkbox formControlName="listAgent">List Agent</mat-checkbox></p>
                <p><mat-checkbox formControlName="listAgentLog">List Agent Log</mat-checkbox></p>
              </section>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>GESTION DES PERIPHERIQUES</ng-template>
                <p><mat-checkbox formControlName="addDevice">Add Device</mat-checkbox></p>
                <p><mat-checkbox formControlName="delDevice">Del Device</mat-checkbox></p>
                <p><mat-checkbox formControlName="listDevice">List Device</mat-checkbox></p>
                <p><mat-checkbox formControlName="setDevice">Set Device</mat-checkbox></p>
                <p><mat-checkbox formControlName="affectDevice">Affect Device</mat-checkbox></p>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>GESTION DES HABILITATIONS</ng-template>
                <p><mat-checkbox formControlName="addHabinitation">Add Habinitation</mat-checkbox></p>
                <p><mat-checkbox formControlName="delHabinitation">Del Habinitation</mat-checkbox></p>
                <p><mat-checkbox formControlName="listHabinitation">List Habinitation</mat-checkbox></p>
                <p><mat-checkbox formControlName="setHabinitation">Set Habinitation</mat-checkbox></p>
                <p><mat-checkbox formControlName="affectHabinitation">Affect Habinitation</mat-checkbox></p>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>GESTION DES SITES</ng-template>
                <p><mat-checkbox formControlName="interumpSite">Interumpre le site</mat-checkbox></p>
                <p><mat-checkbox formControlName="redemarerSite">Redemarer le Site</mat-checkbox></p>
                <p><mat-checkbox formControlName="listSite">List Site</mat-checkbox></p>
                <p><mat-checkbox formControlName="addDocSite">Add Document Site</mat-checkbox></p>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>GESTION DES SECTEURS</ng-template>
                <p><mat-checkbox formControlName="addSector">Add Sector</mat-checkbox></p>
                <p><mat-checkbox formControlName="listSector">List Sector</mat-checkbox></p>
                <p><mat-checkbox formControlName="delSector">Del Sector</mat-checkbox></p>
                <p><mat-checkbox formControlName="detailSector">Detail Sector</mat-checkbox></p>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>GESTION DES ALERTS</ng-template>
                <p><mat-checkbox formControlName="listAlert">List Alert</mat-checkbox></p>
                <p><mat-checkbox formControlName="setAlert">Set Alert</mat-checkbox></p>
                  <button mat-button matStepperPrevious>Back</button>
            </mat-step>
        </mat-vertical-stepper>
        <div>
          <button mat-button matStepperPrevious>Retour</button>
          <button mat-button matStepperNext (click)="test()">Create</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>