<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="isLog">
    <mat-toolbar>
      <mat-icon matTooltip="MENU" aria-label="Side nav toggle icon">
        menu
      </mat-icon>
      Menu
    </mat-toolbar>
    <mat-nav-list class="menu">      
      <a mat-list-item routerLinkActive="active" routerLink="dashboard" ><mat-icon matSuffix>dashboard</mat-icon>  {{ 'MENU.TABLEAU' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/employees" ><mat-icon matSuffix>group</mat-icon> {{ 'MENU.GEMPLOYE' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/sector" ><mat-icon matSuffix>pie_chart</mat-icon> {{ 'MENU.GSECTEURS' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/agent" ><mat-icon matSuffix>transfer_within_a_station</mat-icon>  {{ 'MENU.GAGENT' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/site" ><mat-icon matSuffix>room</mat-icon>  {{ 'MENU.GSITE' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/device" ><mat-icon matSuffix>phonelink_setup</mat-icon>  {{ 'MENU.GDEVICE' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/habilitations" ><mat-icon matSuffix>https</mat-icon>  {{ 'MENU.GAUTHORISATION' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/alerts" ><mat-icon matSuffix>alarm</mat-icon>  {{ 'MENU.ALERT' | translate }}</a>
      <a mat-list-item routerLinkActive="active" routerLink="/interfacage" ><mat-icon matSuffix>pie_chart</mat-icon>  {{ 'MENU.INTERFACE' | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="body">
    <mat-toolbar color="primary" *ngIf="isCUMember">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isLog">
        <mat-icon matTooltip="MENU" aria-label="Side nav toggle icon" *ngIf="!drawer.opened; else showCross">
          menu
        </mat-icon>
        <ng-template #showCross>
          <mat-icon matTooltip="CLOSE" aria-label="Side nav toggle icon">close</mat-icon>
        </ng-template>
      </button>
      <div class="right">
        <span class="title" *ngIf="isCUMember">GOS</span>
        <span *ngIf="isLog" class="logout">
          <span *ngIf="isEmpty;then emptyList else dataTable"></span>
          <ng-template #emptyList>
            <mat-icon>notifications</mat-icon> 
          </ng-template>
          <ng-template #dataTable>
            <mat-icon  [matBadge]="longe" [matMenuTriggerFor]="menuAlert" matBadgeColor="warn">notifications_active</mat-icon> 
            <mat-menu  #menuAlert="matMenu" id="menuForLogOut">
              <span *ngFor ="let notification of notifications">
                <button mat-menu-item routerLink="/alerts" >
                  <div><img width="25px" height="25px" [src]="notification.agentActivitiesConvocation.documentId.documentPath" alt="">
                  Owner: M. {{ notification.agentActivitiesConvocation.documentId.siteId.ownerName}}<br>
                  </div>
                </button>
              </span>            
              <button *ngIf="longe>=4" mat-menu-item routerLink="/alerts"><mat-icon matSuffix>power_settings_new</mat-icon>See More</button>
            </mat-menu>  
          </ng-template>
        </span>
        <span *ngIf="isLog" class="logout">   
          <i class="fa fa-user-circle" aria-hidden="true" [matMenuTriggerFor]="menuLogOut"></i>




          <!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
          <mat-menu #menuLogOut="matMenu" id="menuForLogOut">
            <button mat-menu-item (click)="goToProfil()"><mat-icon matSuffix>perm_identity</mat-icon>Profil</button>
            <button mat-menu-item (click)="onLogout()"><mat-icon matSuffix>power_settings_new</mat-icon>{{ 'MENU.LOG' | translate }}</button>
            <button mat-menu-item (click)="translate.use('fr')"><img width="25px" height="25px" src="../../assets/images/fr.png" alt="">{{ 'MENU.LANGFR' | translate }}</button>
            <button mat-menu-item (click)="translate.use('en')"><img width="25px" height="25px" src="../../assets/images/en.png" alt="">   {{ 'MENU.LANGEN' | translate }}</button>
          </mat-menu>
           <!--Alerts submenu-->
          <mat-menu #Alerts="matMenu" id="Alerts">
            <button mat-menu-item (click)="goToProfil()"><mat-icon matSuffix>perm_identity</mat-icon>Types d'alertes</button>
            <button mat-menu-item (click)="onLogout()"><mat-icon matSuffix>power_settings_new</mat-icon>Paramétrages</button>
            <button mat-menu-item><span class="flag flag-fr"> </span>Alertes</button>
          </mat-menu>
        </span>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-2">&nbsp;</div>
          <div class="col-md-8 text-center">
              <app-alert></app-alert> 
          </div>
          <div class="col-md-2">&nbsp;</div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <ng-template #elseBlock>
    <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-center">
           <app-alert></app-alert> 
		  
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    </div>
    <app-footer></app-footer>
    </ng-template>


  </mat-sidenav-content>
</mat-sidenav-container>
