h2
{
	margin: 0;
	color: #22242b;
	font-weight: 600;
	font-size: 36px;
}

p {
	font-size: 14px;
	color: #74757b;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}
/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	font-size: 14px;
	font-weight: 600;
	min-width: 188px;
	padding: 22px 35px;
	border-radius: 50px;
	text-transform: uppercase;
	background: #f43f00;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-align: center;
}

.site-btn:hover {
	color: #fff;
}

.site-btn.sb-dark {
	background: #22242b;
}

.site-btn.sb-big {
	min-width: 257px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

/*------------------
Header section
 ---------------------*/

.header-section {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	padding-left: 53px;
	background: rgba(0, 0, 0, 0.7);
	z-index: 999;
}

.header-nav {
	text-align: right;
}

.site-logo {
	float: left;
	display: inline-block;
	padding: 33px 0;
}
.header-right {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.header-right .hr-btn {
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	background: #313038;
	padding: 36px 30px 36px 60px;
	line-height: 1.2;
	position: relative;
}

.header-right .hr-btn i {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 29px;
	left: 12px;
	display: inline-block;
	text-align: center;
	background: #f43f00;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 300;
	padding-top: 6px;
	margin-right: 16px;
}

.header-right .hr-btn.hr-btn-2 {
	background: #f43f00;
	padding: 36px 20px;
	min-width: 236px;
	text-align: center;
}

/* ----------------
Hero section
 ---------------------*/

.hero-section {
	padding-top: 191px;
	padding-bottom: 108px;
	position: relative;
}

.hero-section .container {
	position: relative;
	z-index: 99;
}

.hero-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.hero-slider .owl-stage-outer,
.hero-slider .owl-stage,
.hero-slider .owl-item,
.hero-slider .hs-item {
	height: 100%;
}

.hero-slider .owl-dots {
	position: absolute;
	max-width: 1146px;
	width: 100%;
	bottom: 34px;
	left: calc(50% - 573px);
}

.hero-slider .owl-dots .owl-dot {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 10px;
	margin-right: 7px;
	background: #fff;
}

.hero-slider .owl-dots .owl-dot:last-child {
	margin-right: 0;
}

.hero-slider .owl-dots .owl-dot.active {
	background: #f43f00;
}

.hs-text {
	padding-top: 95px;
	padding-right: 10px;
}

.hs-text h2 {
	font-size: 60px;
	color: #fff;
	margin-bottom: 30px;
	line-height: 1.1;
}

.hs-text p {
	color: #fff;
	margin-bottom: 30px;
}

.hero-form {
	background: #22242b;
	padding: 63px 42px 73px;
}

.hero-form input {
	width: 100%;
	height: 49px;
	padding: 5px 26px;
	margin-bottom: 30px;
	border: none;
	font-size: 14px;
	color: #838383;
	font-style: italic;
}

.hero-form p {
	font-size: 11px;
	font-style: italic;
	margin-bottom: 25px;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1360px) {
	.header-right .hr-btn.hr-btn-2 {
		min-width: 210px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section {
		padding-left: 15px;
	}
	.header-right .hr-btn.hr-btn-2 {
		min-width: auto;
	}
	.hero-slider .owl-dots {
		max-width: 930px;
		left: calc(50% - 465px);
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding: 0 25px;
	}
	.header-right {
		display: none;
	}
	.hero-slider .owl-dots {
		max-width: 690px;
		left: calc(50% - 345px);
	}
	.hs-text {
		margin-bottom: 50px;
		padding-top: 0;
	}
	.icon-box-item .ib-icon {
		float: none;
		margin-bottom: 20px;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		overflow: hidden;
		padding: 0 25px;
	}
	.header-right {
		display: none;
	}
	.hero-slider .owl-dots {
		left: 0;
		padding: 0 15px;
		text-align: center;
	}
	.hs-text {
		margin-bottom: 50px;
		padding-top: 0;
	}
	.score-section h2,
	.hs-text h2 {
		font-size: 50px;
	}
	.score-section .hand-img {
		display: none;
	}
	.sidebar {
		padding-top: 50px;
	}
	.loans-calculator {
		padding: 70px 45px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.header-section {
		padding: 0 15px;
	}
	p {
		padding-right: 0;
	}
	.score-section h2,
	.hs-text h2,
	.cta-section h2 {
		font-size: 36px;
	}
	.hero-form {
		padding: 40px 20px 50px;
	}
	.icon-box-item .ib-icon {
		float: none;
		margin-bottom: 20px;
	}
	.site-btn.sb-big {
		min-width: auto;
	}
	.info-text ul li {
		font-size: 16px;
	}
	.loans-text ul {
		padding-left: 0;
	}
}