<app-breadcrumb></app-breadcrumb>
<h2>{{ 'SITENAME' | translate }}: <strong>{{name}}</strong></h2>

<tabset [justified]="true">
    <tab heading="GeoLocalisation">
        <div class="map-frame">

            <div id="map"></div>
        </div>
    </tab>
    <!--tab heading="Detail">
        <app-details-of-site></app-details-of-site>
    </tab-->
</tabset>



