<app-breadcrumb></app-breadcrumb>
<div *ngIf="isAgentSiteListEmpty();then emptyList else dataTable"></div>
<ng-template #emptyList>
  <mat-card>
    <div *ngIf="isLoading;then loading else errorMessage"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #errorMessage>
      <div [ngClass]="{'alert': 'Aucun Site enregistré pour', 'alert-success': false, 'alert-danger': true }">
        <div class="row">
            <div class="col-md-6">
              {{ 'LISTSITEAGENLIST.ERROR' | translate }}
            </div>
        </div>
      </div>
    </ng-template>
  </mat-card>
</ng-template>
<ng-template #dataTable>
  <div class="row command-row text-right">
    <div class="col-md-12">
      <span matTooltip="{{ 'REFRESH' | translate }}">
        <a class="btn btn-sm btn-secondary" (click)="refresh()">
          <i class="fa fa-refresh"></i> {{ 'REFRESH' | translate }}
        </a>
      </span>
    </div>
  </div>
    
  <mat-card>
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">Search</label>
      <div class="col-sm-6">
        <input type="text" (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control">
      </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      not found 
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col"><center><h6>{{ 'SITENAME' | translate }}</h6></center></th>
        <th scope="col"><center><h6>{{ 'OWNERNAME' | translate }}</h6></center></th>
        <th scope="col"><center><h6>{{ 'OWNERPHONE' | translate }}</h6></center>  </th>
        <th scope="col"><center><h6>{{ 'QUARTIER' | translate }}</h6></center> </th>
        <th scope="col"><center> <h6>{{ 'CARTE' | translate }}</h6></center> </th>
        <th scope="col"><center> <h6>{{ 'DETAIL' | translate }}</h6> </center></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let site of sitesList | slice: (page-1) * pageSize : page * pageSize">
        <th [ngClass]="{'': site.status===0,
                        'list-group-item-success': site.status===5,
                        'list-group-item-success': site.status===1,
                        'list-group-item-warning': site.status===4
                       }" scope="let row"><strong>{{site.siteName}}</strong><br /></th>
        <td [ngClass]="{'': site.status===0,
                        'list-group-item-success': site.status===5,
                        'list-group-item-success': site.status===1,
                        'list-group-item-warning': site.status===4
                       }"><strong>{{site.ownerName}}</strong></td>
        <td [ngClass]="{'': site.status===0,
                        'list-group-item-success': site.status===5,
                        'list-group-item-success': site.status===1,
                        'list-group-item-warning': site.status===4
                       }"><strong>{{site.ownerPhone}}</strong></td>
        <td [ngClass]="{'': site.status===0,
                        'list-group-item-success': site.status===5,
                        'list-group-item-success': site.status===1,
                        'list-group-item-warning': site.status===4
                       }"><strong>{{getTenFirstCharacter(site.districtId.districtName)}}</strong></td>
        <td [ngClass]="{'': site.status===0,
                        'list-group-item-success': site.status===5,
                        'list-group-item-success': site.status===1,
                        'list-group-item-warning': site.status===4
                       }">
          <center>
            <span matTooltip="{{ 'MATTOOLTIP.CARD' | translate }}" *ngIf="seePublictr"> 
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" *ngIf="onClickedPublic(site)"></i>
            <a mat-mini-fab color="#2e7d32" *ngIf="seePublic" (click)="onGetLocation(site)"><mat-icon class="mat-18">public</mat-icon> </a>
          </span> 
          </center>
                   
        </td>
        <td [ngClass]="{'': site.status===0,
                        'list-group-item-success': site.status===5,
                        'list-group-item-success': site.status===1,
                        'list-group-item-warning': site.status===4
                       }">
          <center> 
            
            <span matTooltip="{{ 'DETAIL' | translate }}" *ngIf="seeDetailtr">               
              <i class="fa fa-spinner fa-spin fa-3x fa-fw" *ngIf="onClickedDetail(site)"></i>
              <a class="btn btn-sm btn-success" *ngIf="seeDetail" (click)="openSite(site)">
                <i class="fa fa-eye"></i>
              </a>
          </span>
        </center>

         
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row command-row text-right">
      <div class="col-md-12">
        <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
      </div>
    </div>
    <!--div class="row command-row text-right">
      <div class="col-md-12">
        <select class="form-control" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
    </div-->
  </mat-card>






</ng-template>