.my-caroussel{
    width: 100%;
    height: 100%;
    text-align:center;
}
#messageHeader{
    font-size: 120%;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: white;
}

