    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
	<header class="header-section">
		<a (click)="goToAdminPage()" class="site-logo">
			<img src="../../../assets/images/logo_mairie.jpg" alt="test" width="15%" height="5%" />
		</a>
		<nav class="header-nav">
			<div class="header-right">
				<a href="#" class="hr-btn"><i class="flaticon-029-telephone-1"></i> {{ 'ADDALERT.HELP' | translate }} </a>
				<div class="hr-btn hr-btn-2">+237 698745210</div>
			</div>
		</nav>
	</header>
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hs-text">
                        <h2>{{ 'ADDALERT.TITLE' | translate }}</h2>
                        <p>{{ 'ADDALERT.DESCRIPTION' | translate }} </p>
                        <a href="#" class="site-btn sb-dark">{{ 'ADDALERT.MORE' | translate }}</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="hero-form"  [formGroup]="myForm" (ngSubmit)="onSubmit()">
                        <p id="messageHeader">  {{ 'ADDALERT.SENDALERT' | translate }}              </p>                        
                        <input class="form-control" autocomplete="off" placeholder="{{ 'NAME' | translate }} " name="personName" type="text" id="personName" formControlName="personName">
                        <div *ngIf="myForm.get('personName').invalid && myForm.get('personName').touched" class="alert alert-danger">Saisir votre nom</div>
                        <input class="form-control" autocomplete="off" placeholder="{{ 'PHONE' | translate }} " name="personPhone" type="text" id="personPhone" formControlName="personPhone" >
                        <div *ngIf="myForm.get('personPhone').invalid && myForm.get('personPhone').touched" class="alert alert-danger">entrer un numero de telephone</div>
                        <input class="form-control" autocomplete="off" placeholder="{{ 'ADDALERT.DISTRICT' | translate }} " name="alertsDistrict" type="text" id="alertsDistrict" formControlName="alertsDistrict" >
                        <div *ngIf="myForm.get('alertsDistrict').invalid && myForm.get('alertsDistrict').touched" class="alert alert-danger">donner le nom du quartier</div>
                        <div >
                            <label id="messageHeader">{{ 'ADDALERT.MSG' | translate }}</label>
                            <select class="form-control" id="alertsMessage" formControlName="alertsMessage"  name="alertsMessage">
                                <option *ngFor="let item of messageList" [value]="item.message">
                                  {{item.message}}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="myForm.get('alertsMessage').invalid && myForm.get('alertsMessage').touched" class="alert alert-danger">choisir une bavure</div>
                        <br>
                        <textarea class="form-control" autocomplete="off" placeholder="{{ 'ADDALERT.DESC' | translate }} " name="alertsDescription" type="text" id="alertsDescription" formControlName="alertsDescription" style="resize: none;" rows="5"></textarea>
                        <div *ngIf="myForm.get('alertsDescription').invalid && myForm.get('alertsDescription').touched" class="alert alert-danger">Donner une description</div>
                        <h5 id="messageHeader">{{ 'ADDDOCUMENT.CHOISE' | translate }}</h5>
                        <input type="file" name="file" id="file" (change)="fileChange($event)" placeholder="{{ 'ADDDOCUMENT.DOCSELECT' | translate }}" formControlName="file">
                        <div *ngIf="myForm.get('file').invalid && myForm.get('file').touched" class="alert alert-danger">Choisir une image</div>
                        <button *ngIf="!isSubmit" type="submit" [disabled]="myForm.invalid" class="site-btn">{{ 'BTN.SUBMIT' | translate }}</button>
                        <center *ngIf="isSubmit">
                            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                          </center>
                    </form>
                </div>
            </div>
        </div>
        <div class="hero-slider my-caroussel">
            <img src="../../../assets/images/mairie_yaounde.jpg" height="100%"/>
        </div>
        
  </section>
    <footer class="footer-section">
    </footer>

