.container{
    padding: 25px;
}

.formLogin{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: white;
    align-items: center;
}

.formLogin mat-form-field{
    width: 50%;
}