<app-breadcrumb></app-breadcrumb>
<div class="row command-row text-right">
    <div class="col-md-12">
        <!--<span matTooltip="Ajouter un nouveau employer">
        <a routerLink="" class="btn btn-sm btn-success">
          <i class="fa fa-plus"></i> Nouvel employer
        </a>
      </span>-->
      <span *ngIf="!data.add" matTooltip="{{ 'DETAIL' | translate }}">
        <a class="btn btn-sm btn-secondary" (click)="detailsOfEmployee()">
          <i class="fa fa-eye"></i> {{ 'DETAIL' | translate }}
        </a>
      </span>
      <span *ngIf="!data.add" matTooltip="{{ 'DELETE' | translate }}">
        <a class="btn btn-sm btn-danger" (click)="deleteEmployee()">
          <i class="fa fa-remove"></i> {{ 'DELETE' | translate }}
        </a>
      </span>
    </div>
  </div>
  
  
<div class="container">
    <div class="formContent">
        <form #employeeForm="ngForm" (ngSubmit)="onSubmit()" class="formLogin">
            <ng-template matStepLabel>{{ 'ADDEDITEMPLOYE.INFOS' | translate }}</ng-template>
            <mat-form-field>
                <input matInput placeholder="{{ 'NAME' | translate }}" autocomplete="off" type="text" name="employeeName" id="employeeName" [(ngModel)]="employeeToSaveOrUpdate.employeeName" required
                    #employeeName="ngModel">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{ 'SURNAME' | translate }}" name="employeeSurname" autocomplete="off" type="text" required id="employeeSurname" [(ngModel)]="employeeToSaveOrUpdate.employeeSurname"
                    #employeeSurname="ngModel">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{ 'MAIL' | translate }}" name="employeeEmail" autocomplete="off" type="email" id="employeeEmail" (blur)="verifyMail()" [(ngModel)]="employeeToSaveOrUpdate.employeeEmail"  required
                    #employeeEmail="ngModel">
                <mat-icon matSuffix>Email</mat-icon>
            </mat-form-field>
            <div *ngIf="data.add && isEMailUsed" class="alert alert-danger">
                {{ 'ADDEDITEMPLOYE.MSG' | translate }}
            </div>
            <mat-form-field>
                <input matInput placeholder="{{ 'PHONE' | translate }}" autocomplete="off" required type="number" name="employeePhoneNumber" (blur)="verifyPhoneNumber()" id="employeePhoneNumber" [(ngModel)]="employeeToSaveOrUpdate.employeePhoneNumber"
                    #employeePhoneNumber="ngModel">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <div *ngIf="data.add && isPhoneNumberUsed" class="alert alert-danger">
                {{ 'ADDEDITEMPLOYE.MSG' | translate }}
            </div>
            <mat-form-field>
                <input matInput placeholder="{{ 'REGISTRER' | translate }}" autocomplete="off" type="text" required name="employeeMatricule" id="employeeMatricule" (blur)="verifyMatricule()" [(ngModel)]="employeeToSaveOrUpdate.employeeMatricule"
                    #employeeMatricule="ngModel">
                <mat-icon matSuffix>matricule</mat-icon>
            </mat-form-field>
            <div *ngIf="data.add && isMatriculeUsed" class="alert alert-danger">
                {{ 'ADDEDITEMPLOYE.MSG' | translate }}
            </div>
            <mat-form-field>
                <input  matInput placeholder="{{ 'LOGIN' | translate }}" name="employeeLogin" id="employeeLogin" [(ngModel)]="employeeToSaveOrUpdate.employeeLogin" (blur)="verifyLogin()" required
                    #employeeLogin="ngModel">
                <mat-icon matSuffix>login</mat-icon>
            </mat-form-field>
            <div *ngIf="data.add && isLoginUsed" class="alert alert-danger">
                {{ 'ADDEDITEMPLOYE.MSG' | translate }}
            </div>
            <div *ngIf="!data.add && currentLogin != employeeToSaveOrUpdate.employeeLogin && isLoginUsed" class="alert alert-danger">
                {{ 'ADDEDITEMPLOYE.MSG' | translate }}
            </div>
            <mat-form-field>
                <input matInput placeholder="{{ 'DATE.DOB' | translate }}" name="employeeBirthdate" type="date" id="employeeBirthdate" [(ngModel)]="employeeToSaveOrUpdate.employeeBirthdate"
                    #employeeBirthdate="ngModel">
                <mat-icon matSuffix>date</mat-icon>
             </mat-form-field>
             <mat-form-field>
                    <input matInput placeholder="{{ 'POB' | translate }}" name="employeePlaceOfBirth" id="employeePlaceOfBirth" [(ngModel)]="employeeToSaveOrUpdate.employeePlaceOfBirth"
                        #employeePlaceOfBirth="ngModel">
                    <mat-icon matSuffix>lieu</mat-icon>
            </mat-form-field>
            <mat-form-field>
                    <input matInput placeholder="{{ 'COUNTRY' | translate }}" name="employeeNationality" id="employeeNationality" [(ngModel)]="employeeToSaveOrUpdate.employeeNationality"
                        #employeeNationality="ngModel">
                    <mat-icon matSuffix>country</mat-icon>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{ 'ADDR' | translate }}" name="employeeAdress" id="employeeAdress" [(ngModel)]="employeeToSaveOrUpdate.employeeAdress"
                    #employeeAdress="ngModel">
                <mat-icon matSuffix></mat-icon>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ 'ADDEDITEMPLOYE.SEXE' | translate }}</mat-label>
                <mat-select  name="employeeGender" id="employeeGender" [(ngModel)]="employeeToSaveOrUpdate.employeeGender" #employeeGender="ngModel" required>
                    <mat-option [value]="'M'">M</mat-option>
                    <mat-option [value]="'F'">F</mat-option>
                </mat-select>
                <mat-error>{{ 'ADDEDITEMPLOYE.SEXEERROR' | translate }}</mat-error>
            </mat-form-field>
                      
            <div class="row pull-right">
                <div class="form-group col-md-12" style="clear:both;" *ngIf="!isSubmit">
                    <input *ngIf="data.add; else editEmployeeButton" [disabled]="isOk || employeeForm.invalid" type="submit" value="{{ 'BTN.SUBMIT' | translate }}" class="btn btn-success" />
                    <ng-template #editEmployeeButton>
                        <input type="submit" value="{{ 'BTN.UPDATE' | translate }}" [disabled]="currentLogin != employeeToSaveOrUpdate.employeeLogin && isLoginUsed" class="btn btn-success" />
                    </ng-template>
                    <input type="reset" value="{{ 'BTN.RESET' | translate }}" (click)="cancel()" class="btn btn-danger" />
                </div>
                <div class="form-group col-md-12" style="clear:both;" *ngIf="isSubmit">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </div>
                
            </div>
        </form>
    </div>
</div>
