<app-breadcrumb></app-breadcrumb>
<div *ngIf="isAgentSectorListEmpty();then emptyList else dataTable"></div>
<ng-template #emptyList>
  <mat-card>
    <div *ngIf="isLoading;then loading else errorMessage"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #errorMessage>
      <div [ngClass]="{'alert': 'Aucun secteur enregistré pour cet agent', 'alert-success': false, 'alert-danger': true }">
        <div class="row">
            <div class="col-md-6">
              {{ 'LISTSECTAGENT.ERROR' | translate }}
            </div>
        </div>
      </div>
    </ng-template>
  </mat-card>
</ng-template>
<ng-template #dataTable>
  <div class="row command-row text-right">
    <div class="col-md-12">
      <span matTooltip="{{ 'REFRESH' | translate }}">
        <a class="btn btn-sm btn-secondary" (click)="refresh()">
          <i class="fa fa-refresh"></i> {{ 'REFRESH' | translate }}
        </a>
      </span>
    </div>
  </div>
  <mat-card>
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
      <div class="col-sm-6">
        <input type="text"  autocomplete="off"  (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
      </div>

    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      not found 
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col"><center>{{ 'AGENTNAME' | translate }}</center>  </th>
        <th scope="col"> <center> {{ 'SECTORNAME' | translate }}</center></th>
        <th scope="col"><center>{{ 'DATE.START' | translate }} </center></th>
        <th scope="col"><center>{{ 'DATE.END' | translate }}</center></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agentSector of agentSectors | slice: (page-1) * pageSize : page * pageSize">
        <td>{{getTenFirstCharacter(agentSector.agent.agentName)}}</td>
        <td>{{getTenFirstCharacter(agentSector.sector.sectorName)}}</td>
        <td>{{formatDate17Characters(agentSector.agentSectorPK.beginDate)}}</td>
        <td>{{formatDate17Characters(agentSector.endDate)}}</td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-md-4">
        <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <!--select class="form-control" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
      </select-->
      </div>
    </div>
  </mat-card>
</ng-template>