<app-breadcrumb></app-breadcrumb>
<div *ngIf="isAgentSectorListEmpty();then emptyList else dataTable"></div>
<ng-template #emptyList>
  <mat-card>
    <div *ngIf="isLoading;then loading else errorMessage"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #errorMessage>
      <div [ngClass]="{'alert': 'Aucun Secteur enregistré pour', 'alert-success': false, 'alert-danger': true }">
        <div class="row">
            <div class="col-md-6">
              {{'LISTDEVICEAGENT.ERROR' | translate}}
            </div>
        </div>
      </div>
    </ng-template>
  </mat-card>
</ng-template>
<ng-template #dataTable>
  <div class="row command-row text-right">
    <div class="col-md-12">
      <span matTooltip="{{'REFRESH' | translate}} ">
        <a class="btn btn-sm btn-secondary" (click)="initDataTable()">
          <i class="fa fa-refresh"></i> {{'REFRESH' | translate}} 
        </a>
      </span>
    </div>
  </div>
  <mat-card>
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
      <div class="col-sm-6">
        <input type="text" (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" placeholder="{{'PLACEHOLDER.FILTER' | translate}} " class="form-control">
      </div>

    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      not found 
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        
        <th scope="col"> <h6># </h6> </th>
        <th scope="col"><h6>{{'NAME' | translate}} </h6></th>
        <th scope="col"> <h6>{{'DEVICE' | translate}}</h6></th>
        <th scope="col"> <h6>{{'DATE.START' | translate}} </h6> </th>
        <th scope="col"> <h6>{{'DATE.END' | translate}}</h6></th>
        <th scope="col">{{ 'ACTION' | translate }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agtDevice of agentDevices | slice: (page-1) * pageSize : page * pageSize">
        <th scope="let row">{{ agtDevice.agentDevicePK.agentId }}</th>
        <td><strong>{{getTenFirstCharacter(agtDevice.agent.agentName)}} </strong><br /></td>
        <td> <strong>{{getTenFirstCharacter(agtDevice.device.deviceName)}}</strong></td>
        <td><strong>{{formatDate17Characters(agtDevice.agentDevicePK.beginDate)}}</strong></td>
        <td><strong>{{formatDate17Characters(agtDevice.endDate) !=null ? agtDevice.endDate : 'En cours'}}</strong></td>
        <td>
          <span *ngIf="!isAgentDeviceDeleted(agtDevice)" matTooltip="{{'EDIT' | translate}}">
            <a (click)="editAgtDevice(agtDevice)" class="btn btn-sm btn-primary">
            <i class="fa fa-edit"></i>
            </a>
        </span>
        <span *ngIf="!isAgentDeviceDeleted(agtDevice)" matTooltip="{{'DELETE' | translate}}">
            <a (click)="deleteAgentDevice(agtDevice)" class="btn btn-sm btn-danger">
            <i class="fa fa-remove"></i>
            </a>
        </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
    
      <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
      </select-->
    </div>
  </mat-card>








  
  <!--mat-card>

    <mat-table #table [dataSource]="dataSource" matSort>
    
      <ng-container matColumnDef="agent">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let agtDevice">
              
        </mat-cell>
      </ng-container>
	  
	  <ng-container matColumnDef="device">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let agtDevice">
         
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="beginDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
        <mat-cell *matCellDef="let agtDevice"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let agtDevice"></mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> <h6>{{'ACTION' | translate}}</h6> </mat-header-cell>
        <mat-cell *matCellDef="let agtDevice"> 
            
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggleSelection(row)">
      </mat-row>
    </mat-table>
    <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 50, 100]">
    </mat-paginator>
  </mat-card-->
</ng-template>