<app-breadcrumb></app-breadcrumb>
 
<mat-card>
  <div class="our-display details-list">
    <fieldset>
      <legend>{{ 'INFOS' | translate }}</legend>
      <div class="row">
        <div id="form-sector-name-group" class="form-group col-md-6">
          <label class="control-label" for="sectorName">{{ 'SECTORNAME' | translate }}</label>
          <strong class="form-control">{{sector.sectorName}}</strong>
        </div>
        <div id="form-sector-description-group" class="form-group col-md-6">
          <label class="control-label" for="refSite">{{ 'DESCRIPTION' | translate }}</label>
          <textarea class="form-control" rows="auto"  style="overflow: hidden;" name="description" id="description" readonly >
            {{sector.description}}
          </textarea>
          
        </div>
      </div> 
  </fieldset>
  </div>
</mat-card>

<div class="row">  
  <div *ngIf="isNotEmptyDistrictList;then notEmptyList else empty"></div>
  <ng-template #notEmptyList>
    <div *ngIf="isLoading;then loading else dataok"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #dataok>
      <div class="col-md-6">    
        <h3 class="good_centering"><center>{{ 'DISTLIST' | translate }}</center></h3>
        <mat-card>
          <div class="form-group row">
            <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
            <div class="col-sm-6">
              <input type="text"  autocomplete="off"  (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
            </div>
        
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
            not found 
          </div>
          <table class="table table-bordered">
            <thead>
            <tr>      
              <th scope="col"><center> <h6>{{ 'NAME' | translate }}</h6></center></th>
              <th scope="col"><center> <h6>{{ 'SECTORCOMMUNE' | translate }}</h6> </center></th>
              <th scope="col"><center> <h6>{{ 'SITELIST' | translate }}</h6> </center></th>
              <th scope="col"><center> <h6>{{ 'DELETE' | translate }}</h6> </center></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let district of districtList | slice: (page-1) * pageSize : page * pageSize">
              <th scope="let row"> 
                <b><strong>{{district.districtName}}</strong></b><br />
              </th>
              <td><center><strong>{{district.commune}}</strong></center></td>
              <td>
                <center>
                  <span matTooltip="{{ 'SITELIST' | translate }}">
                    <a class="btn btn-sm btn-secondary" (click)="onViewDistrict(district)">
                      <i class="fa fa-eye"></i>
                    </a>
                  </span>
                </center>
              </td>
              <td>
                <center>
                  <span matTooltip="{{'DELETE' |translate}}">
                    <a (click)="onViewDeleteDistrict(district)" class="btn btn-sm btn-danger">
                      <i class="fa fa-remove"></i>
                    </a>
                  </span>
                </center>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-4">
              <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
            </div>
          </div>
        </mat-card>
      </div>
      <div *ngIf="seeSite;then click else noClick"></div>
      <ng-template #click>
        <div *ngIf="siteEmpty;then siteListenotEmpty else siteListe"></div>
        <ng-template #siteListenotEmpty>
          <div class="col-md-6">
            <h3 class="bad_centering">{{ 'SITELIST' | translate }} {{nameDistrict}}</h3>
            <mat-card>
              <div class="form-group row">
                <label for="searche" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
                <div class="col-sm-6">
                  <input type="text"  autocomplete="off"  (keyup)="onFilterSite($event)" [(ngModel)]="searchValues" id="searche" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="isEmptySites">
                not found 
              </div>
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col"><center><h6>{{ 'SITENAME' | translate }}</h6></center></th>
                  <th scope="col"><center><h6>{{ 'OWNERNAME' | translate }}</h6></center></th>
                  <th scope="col"><center><h6>{{ 'OWNERPHONE' | translate }}</h6></center>  </th>
                  <th scope="col"><center><h6>{{ 'QUARTIER' | translate }}</h6></center> </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let site of sites | slice: (pageSites-1) * pageSizeSites : pageSites * pageSizeSites">
                  <th [ngClass]="{'': site.status===0,
                                  'list-group-item-success': site.status===5,
                                  'list-group-item-success': site.status===1,
                                  'list-group-item-danger': site.status===4
                                 }" scope="let row"><strong>{{site.siteName}}</strong><br /></th>
                  <td [ngClass]="{'': site.status===0,
                                  'list-group-item-success': site.status===5,
                                  'list-group-item-success': site.status===1,
                                  'list-group-item-danger': site.status===4
                                 }"><strong>{{site.ownerName}}</strong></td>
                  <td [ngClass]="{'': site.status===0,
                                  'list-group-item-success': site.status===5,
                                  'list-group-item-success': site.status===1,
                                  'list-group-item-danger': site.status===4
                                 }"><strong>{{site.ownerPhone}}</strong></td>
                  <td [ngClass]="{'': site.status===0,
                                  'list-group-item-success': site.status===5,
                                  'list-group-item-success': site.status===1,
                                  'list-group-item-danger': site.status===4
                                 }"><strong>{{site.districtId.districtName}}</strong></td>
                </tr>
                </tbody>
              </table>
              <div class="row command-row text-right">
                <div class="col-md-12">
                  <ngb-pagination [collectionSize]="collectionSizeSites"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="pageSites" [pageSize]="pageSizeSites">
                  </ngb-pagination>
                </div>
              </div>
            </mat-card>
          </div>
        </ng-template>
        <ng-template #siteListe>
          <div class="col-md-6">
            <h3 class="bad_centering">{{ 'SITELIST' | translate }} {{nameDistrict}}</h3>
            <mat-card>
              
              <div class="alert alert-danger" role="alert">
                {{ 'EMPTY' | translate }}
              </div>
            </mat-card>
          </div>
          

        </ng-template>        
      </ng-template>
      
    </ng-template>
    
  </ng-template>
  <ng-template #empty>
    <!--div class="col-md-6">
      <h3 class="good_centering">{{ 'DISTLIST' | translate }}</h3>
      <mat-card>
       
        <div class="alert alert-danger" role="alert">
          {{ 'EMPTY' | translate }}
        </div>
      </mat-card>
    </div-->
    
  </ng-template>
  

  
</div>