<app-breadcrumb></app-breadcrumb>
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-body">
            <form #editAccessForm="ngForm" (ngSubmit)="onSubmitAccess()">
                <div class="form-group">
                    <label for="accessRightName">{{ 'EDITARIGHT.TITLE' | translate }}</label>
                    <input class="form-control" name="accessRightName" [(ngModel)]="accessRight.accessRightName" 
                    id="accessRightName"  required  #accessRightName="ngModel"/>            
                </div>
                <span *ngIf="!isSubmit">
                    <input type="submit" [disabled]="editAccessForm.invalid"  class="btn btn-primary btn-block" class="btn btn-success" value="{{'BTN.UPDATE'|translate}}" />
                </span>
                <span *ngIf="isSubmit">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </span>
            </form>
        </div>
    </div>
  </div>

  
