<app-breadcrumb></app-breadcrumb>
<mat-card>
  <div class="our-display details-list">
    <fieldset>
      <legend>{{ 'INFOS' | translate }}</legend>
      <div class="row">
        <div id="form-site-name-group" class="form-group col-md-6">
          <label class="control-label" for="siteName">{{ 'SITENAME' | translate }}</label>
          <strong class="form-control">{{site.siteName}}</strong>
        </div>
        <div id="form-site-refSite-group" class="form-group col-md-6">
          <label class="control-label" for="refSite">{{ 'SITEDETAIL.REF' | translate }}</label>
          <strong class="form-control">{{site.refSite}}</strong>
        </div>
      </div>
      <div class="row">
          <div id="form-site-sectorId-group" class="form-group col-md-6">
              <label class="control-label" for="sectorId">{{ 'QUARTIER' | translate }}</label>
              <strong class="form-control">{{site.districtId.districtName}}</strong>
            </div>
            <div id="form-site-ownerName-group" class="form-group col-md-6">
                <label class="control-label" for="ownerName">{{ 'OWNERNAME' | translate }}</label>
                <strong class="form-control">{{site.ownerName}}</strong>
              </div>
        </div>
        <div class="row">
        <div id="form-site-ownerPhone-group" class="form-group col-md-6">
          <label class="control-label" for="ownerPhone">{{ 'OWNERPHONE' | translate }}</label>
          <strong class="form-control">{{site.ownerPhone}}</strong>
        </div>
        <div id="form-site-ownerCni-group" class="form-group col-md-6">
          <label class="control-label" for="ownerCni">{{ 'CNI' | translate }}</label>
          <strong class="form-control">{{site.ownerCni}}</strong>
        </div>
      </div>
  </fieldset>
  </div>
</mat-card>

<div class="row command-row text-right">
  <div class="col-md-6">
  </div>
  <div class="col-md-6 align-bottom">
    <span matTooltip="{{ 'REFRESH' | translate }}">
      <a class="btn btn-sm btn-secondary" (click)="refresh()">
        <i class="fa fa-refresh"></i> {{ 'REFRESH' | translate }} 
      </a>
    </span>
    <span matTooltip="{{ 'LISTSITEAGENLIST.ERROR' | translate }}">
      <a data-toggle="modal" (click)="interumpre()" class="btn btn-sm btn-warning">
        <i class="fa fa-plus"></i>{{ 'LISTSITEAGENLIST.ERROR' | translate }}
      </a>
    </span>
    <span matTooltip="{{ 'ADDDOCUMENT.ADD' | translate }}">
      <a data-toggle="modal" (click)="adddocmument()" class="btn btn-sm btn-primary">
        <i class="fa fa-plus"></i> {{ 'ADDDOCUMENT.ADD' | translate }}
      </a>
    </span>
    <span matTooltip="{{ 'LISTSITEAGENLIST.RELOAD' | translate }}">
      <a data-toggle="modal" (click)="reloadsite()" class="btn btn-sm btn-success">
        <i class="fa fa-plus"></i> {{ 'LISTSITEAGENLIST.RELOAD' | translate }}
      </a>
    </span>
  </div>
</div>



<!--div class="row"-->  
    <!--div class="col-md-5">
      <mat-card>
        <center>
          <span>
            <h3>{{ 'SITEDETAIL.CONTACT' | translate }}</h3>
          </span>
        </center>
        <table class="table table-bordered">
          <thead>
          <tr>            
            <th scope="col">{{ 'SITEDETAIL.POINT' | translate }}</th>
            <th scope="col">{{ 'SITEDETAIL.X' | translate }}</th>
            <th scope="col">{{ 'SITEDETAIL.Y' | translate }}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let coord of gpsCoordsList | slice: (page-1) * pageSize : page * pageSize">
            <th scope="let row"><strong>{{coord.pointName}}</strong></th>
            <td> <strong>{{coord.xcoord}}</strong></td>
            <td> <strong>{{coord.ycoord}}</strong></td>
          </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
          <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
          </ngb-pagination>
        
          <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
          </select>
        </div>
      </mat-card>      
    </div-->


  <!--div class="col-md-6"-->
    <mat-card *ngIf="listDocs">
      <center>
        <span>
          <h3>{{ 'SITEDETAIL.DOCS' | translate }}</h3>
        </span>
      </center>
      <table class="table table-bordered">
        <thead>
        <tr>            
          <th scope="col">{{ 'DOCNAME' | translate }}</th>
          <th scope="col">{{ 'ADDDOCUMENT.DOCNUMERO' | translate }}</th>
          <th scope="col">{{ 'DATE.SAVE' | translate }}</th>
          <th scope="col">{{ 'ACTION' | translate }}</th>
          <th scope="col">{{ 'AGENTDETAIL.STATUS' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let doc of docsList | slice: (pageDoc-1) * pageSizeDoc : pageDoc * pageSizeDoc">
          <th [ngClass]="{'': doc.status===0,
          '': doc.status===3,
          'list-group-item-danger': doc.status===1,
          'list-group-item-warning': doc.status===4 || doc.status===5
         }" scope="let row"><strong>{{doc.documentName}}</strong><br /></th>
          <td [ngClass]="{'': doc.status===0,
          '': doc.status===3,
          'list-group-item-danger': doc.status===1,
          'list-group-item-warning': doc.status===4 || doc.status===5
         }"><strong>{{doc.documentNumber}}</strong> </td>
          <td [ngClass]="{'': doc.status===0,
            '': doc.status===3,
            'list-group-item-danger': doc.status===1,
            'list-group-item-warning': doc.status===4 || doc.status===5
         }"> <strong>{{getformatDater(doc.createdDate)}}</strong></td>
          <td [ngClass]="{'': doc.status===0,
            '': doc.status===3,
            'list-group-item-danger': doc.status===1,
            'list-group-item-warning': doc.status===4 || doc.status===5
         }">
            <span matTooltip="{{ 'MATTOOLTIP.DOWNLOAD' | translate }}">
              <a (click)="downloadDocument(doc)" class="btn btn-sm btn-success">
                <i class="fa fa-download"></i>
              </a>
            </span>
            <span [ngSwitch]="doc.docTypeId.docTypeName">
              <a (click)="openModal(doc)" class="btn btn-sm btn-success">
                <i class="fa fa-music" matTooltip="{{ 'MATTOOLTIP.AUDIO' | translate }}" *ngSwitchCase="'AUDIO'"></i>
                <i class="fa fa-image" matTooltip="{{ 'MATTOOLTIP.IMG' | translate }}" *ngSwitchCase="'IMAGE'"></i>
                <i class="fa fa-video" matTooltip="{{ 'MATTOOLTIP.VIDEO' | translate }}" *ngSwitchCase="'VIDEO'"></i>
                <i class="fa fa-file" matTooltip="{{ 'MATTOOLTIP.DOC' | translate }}" *ngSwitchCase="'TEXT'"></i>
              </a>
            </span>
          </td>
          <td [ngClass]="{'': doc.status===0,
            '': doc.status===3,
            'list-group-item-danger': doc.status===1,
            'list-group-item-warning': doc.status===4 || doc.status===5
         }">
           <span *ngIf="doc.status==5">
             <button type="button" (click)="onCreateDocVerification(doc)" class="btn btn-primary">
              {{ 'VERIFDOC' | translate }} 
             </button>
           </span>
           <span *ngIf="doc.status==4">
            {{ 'WAITINGCHECK' | translate }}
          </span>
          <span *ngIf="doc.status==1">
            {{ 'KODOC' | translate }}
          </span>
          <span *ngIf="doc.status==0">
            <span *ngIf="doc.documentNumber==''">
              {{ 'SUIVI' | translate }}
            </span>            
            <span *ngIf="doc.documentNumber!=''">
              {{ 'OKDOC' | translate }}
            </span>
          </span>
          <span *ngIf="doc.status==3">
            {{ 'CONVOCATION' | translate }}
          </span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSizeDoc"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="pageDoc" [pageSize]="pageSizeDoc">
        </ngb-pagination>
      
        <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSizeDoc">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
        </select-->
      </div>
    </mat-card>   
  <!--/div-->
<!--/div-->
