<div class="container">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header"><h4>{{ 'NEWID.TITLE' | translate }}</h4></div>
    <div class="card-body" id="formLogin">
      <form  [formGroup]="form" (ngSubmit)="defineNewIdentifiers()">
        <div class="form-group">
          <label for="login">{{ 'NEWID.LOGIN' | translate }}</label>
          <input autocomplete="off" formControlName="login" class="form-control" 
          [ngClass]="{
              'is-invalid': f.login.errors
            }"
            name="login" id="login" type="text" placeholder="Saisissez votre nouveau login" (keyup)="verifyLogin()" />             
          <div *ngIf="f.login.errors && f.login.touched" id="login"  class="invalid-feedback">
              <div *ngIf="f.login.errors.required" class="alert alert-danger"> {{ 'NEWID.ERRORLOGIN' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">{{ 'NEWID.PWD' | translate }}</label>
          <input autocomplete="off" formControlName="newPassword" class="form-control" 
          [ngClass]="{
              'is-invalid': f.newPassword.errors
            }"
            name="newPassword" id="newPassword" type="password" placeholder="Saisissez votre nouveau mot de passe" />             
          <div *ngIf="f.newPassword.errors && f.newPassword.touched" id="newPassword"  class="invalid-feedback">
              <div *ngIf="f.newPassword.errors.required" class="alert alert-danger"> {{ 'NEWID.PWD' | translate }}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="cpassword">{{ 'NEWID.CONFIRM' | translate }}</label>
          <input autocomplete="off" formControlName="cpassword" class="form-control" 
          [ngClass]="{
              'is-invalid': f.cpassword.errors
            }"
            name="cpassword" id="cpassword" type="password" placeholder="Confirmez votre mot de passe" />             
          <div *ngIf="f.cpassword.errors && f.cpassword.touched" id="cpassword"  class="invalid-feedback">
              <div *ngIf="f.cpassword.errors.required" class="alert alert-danger"> {{ 'NEWID.PWD' | translate }}</div>
          </div>
        </div>
        <span *ngIf="!isSubmit">
          <input type="submit" [disabled]="form.invalid && isLoginUsed" class="btn btn-primary  define_identifiers_button" value="{{ 'EDIT' | translate }}" />
        </span>
        <span *ngIf="isSubmit">
          <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </span>
        
      </form>
    </div>
  </div>
</div>

