.body_black
{
  background-color:rgb(85,85,85);
}

#formLogin {
    width: 50%;
    margin-left: 33%;
}

.card-header h4{
  text-align: center;
  margin-bottom: 25px;
}

.define_identifiers_input{
    width: 400px;
}

.define_identifiers_button{
    width: 400px;
}