.container{
    padding: 20px;
}

form{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form h4, mat-form-field{
    width: 30%;
}

form h4{
    text-align: center;
}

form button{
}

button{
    width: 20%;
}