<app-breadcrumb></app-breadcrumb>
<div class="container">
        <div class="formContent">
            <form [formGroup]="affectForm" (ngSubmit)="onSubmit()">
                <h4>{{ 'AFFECTAGENTSECTOR.TITLE' | translate }}</h4>
                <mat-form-field *ngIf="agent" appearance="outline">
                    <mat-label>{{ 'AFFECTAGENTSECTOR.AGENT' | translate }}</mat-label>
                    <input matInput formControlName="agent">
                    <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'AFFECTAGENTSECTOR.LABEL' | translate }}</mat-label>
                    <mat-select formControlName="sector" required>
                        <mat-option >-----</mat-option>
                        <mat-option *ngFor="let sector of sectors" [value]="sector"> 
                            {{ sector.sectorName }}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix>sector_unknown</mat-icon>
                    <mat-error>{{ 'AFFECTAGENTSECTOR.ERROR' | translate }}</mat-error>
                </mat-form-field>
                <span *ngIf="!isSubmit">
                    <button mat-raised-button type="submit" [disabled] = "affectForm.invalid" color="primary"><mat-icon matSuffix>add</mat-icon>{{ 'BTN.SUBMIT' | translate }}</button>
                </span>
                <span *ngIf="isSubmit">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                </span>
            </form>
        </div>
    </div>
    