<app-breadcrumb></app-breadcrumb>
<br>
<div *ngIf="!isSubmit">
  <button *ngIf="districtEmpty" type="button" class="btn btn-primary btn-lg btn-block" (click)="onSaveUpdate()" >{{ 'ADDSELECTEDDISTRICT' | translate }}</button>
</div>
<div *ngIf="isSubmit">
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>

<mat-card *ngIf="districtEmpty">
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
      <div class="col-sm-6">
        <input type="text" (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control">
      </div>

    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      not found 
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col"><center><h6>{{ 'SECTORNAME' | translate }}</h6></center></th>
        <th scope="col"><center><h6>{{ 'COMMUNE' | translate }}</h6></center></th>
        <th scope="col"><center><h6>{{ 'STANDING' | translate }}</h6></center>  </th>
        <th scope="col"><center><h6>{{ 'CHOIX' | translate }}</h6></center> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let district of districts | slice: (page-1) * pageSize : page * pageSize">
        <th scope="let row"><strong>{{district.districtName}}</strong></th>
        <td><strong>{{district.commune}}</strong><br /></td>
        <td><strong>{{district.standing}}</strong></td>
        <td>
          <center>
            <button 
                (click)="onChangeState(district)"
                type="button" 
                [ngClass]="{'btn btn-success': district.status===0,
                            'btn btn-danger': district.status==1
                           }"
            >
                <span *ngIf="district.status==0">{{ 'ADDDISTR' | translate }}{{sector.sectorName}}</span>
                <span *ngIf="district.status!=0">{{ 'DELDISTR' | translate }}{{sector.sectorName}}</span>
            </button>
            <!--span matTooltip="{{ 'MATTOOLTIP.CARD' | translate }}"> 
            <a mat-mini-fab color="#2e7d32" (click)="onGetLocation(district)" ><mat-icon class="mat-18">public</mat-icon> </a>
          </span--> 
          </center>
                   
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row command-row text-right">
      <div class="col-md-12">
        <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
        </ngb-pagination>
      </div>
    </div>
    <!--div class="row command-row text-right">
      <div class="col-md-12">
        <select class="form-control" style="width: auto" [(ngModel)]="pageSize">
          <option [ngValue]="5">5</option>
          <option [ngValue]="10">10</option>
          <option [ngValue]="15">15</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
    </div-->
  </mat-card>
    