<app-breadcrumb></app-breadcrumb>
<div *ngIf="isAgentSectorListEmpty();then emptyList else dataTable"></div>
<ng-template #emptyList>
  <mat-card>
    <div *ngIf="isLoading;then loading else errorMessage"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #errorMessage>
      <div [ngClass]="{'alert': 'Aucun agent enregistré pour', 'alert-success': false, 'alert-danger': true }">
        <div class="row">
            <div class="col-md-6">

              {{'LISTSECTORAGENT.ERROR' |translate}}
            </div>
        </div>
      </div>
    </ng-template>
  </mat-card>
</ng-template>
<ng-template #dataTable>  
  <div class="row command-row text-right">
    <div class="col-md-12">
      <span matTooltip="{{ 'REFRESH' | translate }}">
        <a class="btn btn-sm btn-secondary" (click)="refresh()">
          <i class="fa fa-refresh"></i> {{ 'REFRESH' | translate }}
        </a>
      </span>
    </div>
  </div>
  <mat-card>
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
      <div class="col-sm-6">
        <input type="text" (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{'PLACEHOLDER.FILTER' |translate}}">
      </div>

    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      not found 
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        
        <th scope="col"> <h6>{{'AGENTNAME' |translate}}</h6> </th>
        <th scope="col"><h6>{{'SECTORNAME' |translate}}</h6></th>
        <th scope="col"><h6>{{'DATE.ASSIGN' |translate}}</h6> </th>
        <th scope="col"> <h6>{{'ACTION' |translate}}</h6> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let agentSector of agentsSectorsList | slice: (page-1) * pageSize : page * pageSize">
        <th scope="let row"><strong>{{getTenFirstCharacter(agentSector.agent.agentName)}}</strong><br /></th>
        <td> 
          <strong>{{getTenFirstCharacter(agentSector.sector.sectorName)}}</strong><br />
          <strong>{{formatDate17Characters(agentSector.sector.commune)}}</strong>
        </td>
        <td><strong>{{formatDate17Characters(agentSector.agentSectorPK.beginDate)}}</strong></td>
        <td>
          <span *ngIf="!isAgentSectorDeleted(agentSector)" matTooltip="{{ 'MATTOOLTIP.DELETELISTSECTOR' | translate }}">
            <a (click)="deleteAgentSector(agentSector)" class="btn btn-sm btn-danger">
              <i class="fa fa-remove"></i>
            </a>
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
    
      <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
      </select-->
    </div>
  </mat-card>
</ng-template>



