<div class="modal-header">
	<h4 class="modal-title pull-left"> {{title}} </h4>
</div>
<div class="modal-body">
	<div [ngSwitch]="type">
    <div *ngSwitchCase="'TEXT'">
      <ngx-doc-viewer
        [url]="doc"
        viewer="google"
        style="width:100%;height:50vh;"
      ></ngx-doc-viewer>
    </div>
    <div *ngSwitchCase="'IMAGE'">
      <img [src]="doc" width="100%" height="75%" [alt]="doc">
    </div>
    <div *ngSwitchCase="'AUDIO'">
      <audio style="height: 500px;width: 100%;" name="media" controls="controls">
        <source [src]="doc" >
      </audio>
    </div>
    <div *ngSwitchCase="'VIDEO'">
      <video style="height: 100%;width: 100%;" name="media" controls="controls">
        <source [src]="doc" type="video/*">
      </video>
    </div>
  </div>
  <div class="row">

    <!--div class="col-sm-6 m-b-xs">

        <button type="button" class="btn btn-primary btn-block" (click)="confirm()">'Confirm'</button>

    </div-->
<br>
    <div class="col">

        <button class="btn btn-danger btn-block" type="button" (click)="close()">'Cancel'</button>

    </div>

</div>
	
</div>
