<app-breadcrumb></app-breadcrumb>
<div *ngIf="isEmployeeListEmpty();then emptyList else dataTable"></div>
<ng-template #emptyList>
  <mat-card>
    <div *ngIf="isLoading;then loading else errorMessage"></div>
    <ng-template #loading>
      <app-loading-marker></app-loading-marker>
    </ng-template>
    <ng-template #errorMessage>
      <div [ngClass]="{'alert': 'Aucun employé enregistré pour', 'alert-success': false, 'alert-danger': true }">
        <div class="row">
            <div class="col-md-6">
              {{ 'LISTEMPLOYE.ERROR' | translate }}
            </div>
        </div>
      </div>
      <span *ngIf="isAdminConnected" matTooltip="{{ 'LISTEMPLOYE.ADD' | translate }}">
        <a data-toggle="modal"  (click)="addEmployee()" class="btn btn-primary btn-lg btn-block">
          <i class="fa fa-plus"></i> {{ 'LISTEMPLOYE.ADD' | translate }}
        </a>
      </span>
    </ng-template>
  </mat-card>
</ng-template>
<ng-template #dataTable>
  
  <div class="row command-row text-right">
    <div class="col-md-12">
      <span matTooltip="{{ 'REFRESH' | translate }}">
        <a class="btn btn-sm btn-secondary" (click)="refresh()">
          <i class="fa fa-refresh"></i> {{ 'REFRESH' | translate }} 
        </a>
      </span>
      <span  matTooltip="{{ 'LISTEMPLOYE.ADD' | translate }}" *ngIf="isAdminConnected">
        <a data-toggle="modal" (click)="addEmployee()" class="btn btn-sm btn-primary">
          <i class="fa fa-plus"></i> {{ 'LISTEMPLOYE.ADD' | translate }}
        </a>
      </span>
    </div>
  </div>

  <mat-card>
    <div class="form-group row">
      <label for="search" class="col-sm-2 col-form-label" style="text-align: right;">{{ 'SEARCH' | translate }}</label>
      <div class="col-sm-6">
        <input type="text" (keyup)="onFilter($event)" [(ngModel)]="searchValue" id="search" class="form-control" placeholder="{{ 'PLACEHOLDER.FILTER' | translate }}">
      </div>

    </div>
    <div class="alert alert-danger" role="alert" *ngIf="isEmpty">
      not found 
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        
        <th scope="col">#</th>
        <th scope="col"><h6>{{ 'NAME' | translate }}</h6></th>
        <th scope="col"><h6>{{ 'SURNAME' | translate }}</h6></th>
        <th scope="col"> <h6>{{ 'PHONE' | translate }}</h6></th>
        <th scope="col"><h6>{{ 'REGISTRER' | translate }}</h6></th>        
        <th scope="col"><center><h6>{{ 'ACTIONL.DETAIL' | translate }}</h6></center></th>
        <th scope="col"><center><h6>{{ 'ACTIONL.EDIT' | translate }}</h6></center></th>
        <th scope="col"><center><h6>{{ 'ACTIONL.DELETE' | translate }}</h6></center></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employeeList | slice: (page-1) * pageSize : page * pageSize">
        <th scope="let row"><strong>{{employee.employeeId}}</strong></th>
        <td><strong>{{getTenFirstCharacter(employee.employeeName)}}</strong><br /></td>
        <td><strong>{{getTenFirstCharacter(employee.employeeSurname)}}</strong><br /></td>
        <td><strong>{{employee.employeePhoneNumber}}</strong><br /></td>
        <td><strong>{{getTenFirstCharacter(employee.employeeMatricule)}}</strong><br /></td>
        <td>
          <center>
            <span *ngIf="isCurrentEmployee(employee) || isAdminConnected " matTooltip="{{ 'DETAIL' | translate }}">
              <a class="btn btn-sm btn-primary" (click)="detailsOfSelectedEmployee(employee)">
                <i class="fa fa-eye"></i>
              </a>
            </span>
          </center>
        </td>
        <td>
          <center>
            <span *ngIf="isCurrentEmployee(employee) || isAdminConnected" matTooltip="{{ 'LISTEMPLOYE.EDIT' | translate }}">
              <a (click)="editEmployee(employee)" class="btn btn-sm btn-primary">
                <i class="fa fa-edit"></i>
              </a>
            </span>
          </center>
        </td>
        <td>
          <center>
            <span *ngIf="isAdminConnected" matTooltip="{{ 'MATTOOLTIP.DELEMPLOYE' | translate }}">
              <a (click)="deleteEmployee(employee)" class="btn btn-sm btn-danger">
                <i class="fa fa-remove"></i>
              </a>
            </span>
          </center>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination [collectionSize]="collectionSize"  [maxSize]="5" [rotate]="true" [ellipses]="false"  [(page)]="page" [pageSize]="pageSize">
      </ngb-pagination>
    
      <!--select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
        <option [ngValue]="5">5</option>
        <option [ngValue]="10">10</option>
        <option [ngValue]="15">15</option>
        <option [ngValue]="20">20</option>
        <option [ngValue]="50">50</option>
      </select-->
    </div>
  </mat-card>
</ng-template>



